<div class="dl-table cols5">
    <div class="dl-row header">
        <span>Operating System</span>
        <span>Version</span>
        <span>Date</span>
        <span>Full</span>
        <span>Upgrade (exe only)</span>
    </div>
    <div class="dl-row">
        <span>Windows</span>
        <span>3.2.1</span>
        <span>24th June 2020</span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-win32-3.2.1-full.zip"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (19.3MB)</a></span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-win32-3.2.1.zip"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (2.1MB)</a></span>
    </div>
    <div class="dl-row">
        <span>MAC OSX 10.12</span>
        <span>3.2.1</span>
        <span>24th June 2020</span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-osx10.12-xcode9.2-3.2.1-full.zip"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (19.2MB)</a></span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-osx10.12-xcode9.2-3.2.1.zip"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (1.96MB)</a></span>
    </div>
    <div class="dl-row">
        <span>MAC OSX 10.13</span>
        <span>3.2.1</span>
        <span>24th June 2020</span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-osx10.13-xcode9.3-3.2.1-full.zip"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (19.2MB)</a></span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-osx10.13-xcode9.3-3.2.1.zip"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (1.97MB)</a></span>
    </div>
    <div class="dl-row">
        <span>Linux (64-bit)</span>
        <span>3.2.1</span>
        <span>24th June 2020</span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-ubuntu-3.2.1-full.tar.gz"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (18.2MB)</a></span>
        <span><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.1/ezquake-ubuntu-3.2.1.tar.gz"><span class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (1.07MB)</a></span>
    </div>
</div>
