<div class="cvar panel panel-default" id="cvar-allow_f_cmdline">
  <div class="panel-heading"><div class="panel-title">allow_f_cmdline</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Your client will not respond to f_cmdline checks.</td></tr>
<tr>
<td>true</td><td>Your client will respond to f_cmdline checks with your current command line used to run current ezQuake instance.</td></tr>
</tbody>
</table>
</div>
