<div class="cvar panel panel-default" id="cvar-auth_validate">
  <div class="panel-heading"><div class="panel-title">auth_validate</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>If you have <br />&#39;auth_warninvalid 1&#39; and someone gives a dirty hash in a version response <br />(because they are using a hacked client that can&#39;t work out the right <br />response), the client will print something like <br />&#39;Warning Invalid Client: playername (userid)&#39; in your console (&#39;auth_warninvalid 0&#39; is default).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>If you don&#39;t want your client to validate other ezQuake clients.</td></tr>
<tr>
<td>true</td><td>which performs the validation (but you need to use &#39;validate_clients&#39;</td></tr>
</tbody>
</table>
</div>
