<div class="cvar panel panel-default" id="cvar-cfg_save_unchanged">
  <div class="panel-heading"><div class="panel-title">cfg_save_unchanged</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>config file.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Makes cfg_save only write variables that are not default valued to the</td></tr>
<tr>
<td>true</td><td>Makes cfg_save write all variables to the config file.</td></tr>
</tbody>
</table>
</div>
