<div class="cvar panel panel-default" id="cvar-cl_chunksperframe">
  <div class="panel-heading"><div class="panel-title">cl_chunksperframe</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Affects the download speed when using chunked downloads, more chunks per frame results in higher download speed</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Servers can limit the amount of chunks sent per frame</div></div>
  </div>
</div>
