<div class="cvar panel panel-default" id="cvar-cl_camera_tpp">
  <div class="panel-heading"><div class="panel-title">cl_camera_tpp</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Enabled only for viewing demos and observing games.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>1st person view</td></tr>
<tr>
<td>1</td><td>3rd person view ala Tomb Raider (such a fun!)</td></tr>
<tr>
<td>2</td><td>3rd person view ala cl_chasecam 0 (buggy)</td></tr>
</tbody>
</table>
</div>
