<div class="cvar panel panel-default" id="cvar-cl_clock_format">
  <div class="panel-heading"><div class="panel-title">cl_clock_format</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Changes the format of the clock which is displayed if cl_clock is non-zero.  Special chars are prefixed with %</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>%H represents hours, %M minutes, %S seconds. There are many other flags you can use. See strftime (C language) documentation for closer info.</div></div>
  </div>
</div>
