<div class="cvar panel panel-default" id="cvar-cl_delay_packet">
  <div class="panel-heading"><div class="panel-title">cl_delay_packet</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Client will delay incoming and outgoing packets, allowing user to increase his ping in the game.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Specified in ms.  If delay is 20ms, incoming packets will be delayed by 10ms, outgoing packets too. It&#39;s preferred to use the least value that gives the desired ping.</div></div>
  </div>
</div>
