<div class="cvar panel panel-default" id="cvar-cl_delay_packet_deviation">
  <div class="panel-heading"><div class="panel-title">cl_delay_packet_deviation</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows random deviation to be added to /cl_delay_packet delay.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Specified in ms.  Makes /cl_delay_packet better simulate high-ping connections.</div></div>
  </div>
</div>
