<div class="cvar panel panel-default" id="cvar-cl_demopinginterval">
  <div class="panel-heading"><div class="panel-title">cl_demoPingInterval</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>How often to request ping updates when recording demos. This variable doesn&#39;t <br />affect ping updates when the scoreboard is shown (they are always one update per 2 seconds).</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Disable automatic ping requests.</td></tr>
<tr>
<td>5</td><td>Request every 5 seconds (default).</td></tr>
</tbody>
</table>
</div>
