<div class="cvar panel panel-default" id="cvar-cl_hudswap">
  <div class="panel-heading"><div class="panel-title">cl_hudswap</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>The inventory is drawn on the right side of the screen.</td></tr>
<tr>
<td>true</td><td>The inventory is drawn on the left side of the screen.</td></tr>
</tbody>
</table>
</div>
