<div class="cvar panel panel-default" id="cvar-cl_idrive">
  <div class="panel-heading"><div class="panel-title">cl_iDrive</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Emulates &quot;strafe script&quot;. When turned on you will always move to some direction when holding both keys +moveleft and +moveright (or +forward and +back). If you have this turned on, it will be reported in your f_ruleset reply with as (+i) flag. Cannot be changed during the gameplay.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Pressing keys for both directions will cause stop in movement</td></tr>
<tr>
<td>true</td><td>Auto-releases one of the keys when both directions are pressed</td></tr>
</tbody>
</table>
</div>
