<div class="cvar panel panel-default" id="cvar-cl_independentphysics">
  <div class="panel-heading"><div class="panel-title">cl_independentPhysics</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This enables independent physics. This means that you can achieve more FPS in the game than allowed by the server. The amount of FPS used to communicate with the server is set by /cl_physfps and the amount of graphics FPS is set by /cl_maxfps. Note that you must have vid_vsync 0.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This variable can only be switched from 0&lt;-&gt;1 when disconnected from a server (Qizmo/eztv are also servers).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable independent physics,</td></tr>
<tr>
<td>true</td><td>Enable independent physics.</td></tr>
</tbody>
</table>
</div>
