<div class="cvar panel panel-default" id="cvar-cl_keypad">
  <div class="panel-heading"><div class="panel-title">cl_keypad</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>QW compatibility where the keypad keys act the same key name, eg KP_8 acts like uparrow would.</td></tr>
<tr>
<td>true</td><td>You will be able to bind such keys as capslock, numlock, and all numpad keys.</td></tr>
</tbody>
</table>
</div>
