<div class="cvar panel panel-default" id="cvar-cl_loadfragfiles">
  <div class="panel-heading"><div class="panel-title">cl_loadFragfiles</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Also needed to parse stats for extended scoreboard and frags tracker.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable.</td></tr>
<tr>
<td>true</td><td>Enable displaying team fortress related statistics in the scoreboard (flag touches, steals, caps, etc)</td></tr>
</tbody>
</table>
</div>
