<div class="cvar panel panel-default" id="cvar-cl_mvdisplayhud">
  <div class="panel-heading"><div class="panel-title">cl_mvdisplayhud</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggle drawing of small compact HUD in each screen of Multiview control.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Also see cl_mvhudpos and cl_mvhudvertical when this is set to a value greater than 1.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Don&#39;t draw mini-HUDs when in multiview.</td></tr>
<tr>
<td>1</td><td>Draw original mini-HUDs when in multiview. (Only strings)</td></tr>
<tr>
<td>2</td><td>Draw names only.</td></tr>
<tr>
<td>3</td><td>Draw graphics. Icons for weapons, healthbar, armorbar.</td></tr>
<tr>
<td>4</td><td>Same as 3 but with values showing the health/armor on the bars.</td></tr>
<tr>
<td>5</td><td>Same as 4 but with a semitransparent black background.</td></tr>
</tbody>
</table>
</div>
