<div class="cvar panel panel-default" id="cvar-cl_mvhudvertical">
  <div class="panel-heading"><div class="panel-title">cl_mvhudvertical</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Set whetever the mini-HUDs in multiview mode will be drawn vertically or not.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This only applies if cl_mvdisplayhud has a value greater than 1, otherwise the old style is used for the mini-HUDs (only strings).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Draw mini-HUDs horizontally</td></tr>
<tr>
<td>true</td><td>Draw mini-HUDs vertically</td></tr>
</tbody>
</table>
</div>
