<div class="cvar panel panel-default" id="cvar-cl_mvhudpos">
  <div class="panel-heading"><div class="panel-title">cl_mvhudpos</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets the position of the multiview mini-HUDs.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This only applies to the mini-HUD when cl_mvdisplayhud has a value greater than 1. Otherwise old mini-HUD will be used (just strings).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>bottom center</td><td>bottom, centered horizontally</td></tr>
<tr>
<td>bottom left</td><td>bottom, left hand side</td></tr>
<tr>
<td>bottom right</td><td>bottom, right hand side</td></tr>
<tr>
<td>gather</td><td>The mini-HUDs are all &quot;gathered&quot; towards the center of the screen. Top left view has the hud in the lower right corner; bottom left view has it in the upper left corner and so on.</td></tr>
<tr>
<td>top center</td><td>top, centered horizontally</td></tr>
<tr>
<td>top left</td><td>top, left hand side</td></tr>
<tr>
<td>top right</td><td>top, right hand side</td></tr>
<tr>
<td>bc</td><td>bottom, centered horizontally</td></tr>
<tr>
<td>bl</td><td>bottom, left hand side</td></tr>
<tr>
<td>br</td><td>bottom, right hand side</td></tr>
<tr>
<td>g</td><td>The mini-HUDs are all &quot;gathered&quot; towards the center of the screen. Top left view has the hud in the lower right corner; bottom left view has it in the upper left corner and so on.</td></tr>
<tr>
<td>tc</td><td>top, centered horizontally</td></tr>
<tr>
<td>tl</td><td>top, left hand side</td></tr>
<tr>
<td>tr</td><td>top, right hand side</td></tr>
</tbody>
</table>
</div>
