<div class="cvar panel panel-default" id="cvar-cl_mvinset">
  <div class="panel-heading"><div class="panel-title">cl_mvinset</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Turns inset screen with multitrack on/off.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Divide screen in 2/3/4 areas according to cl_multiview settings.</td></tr>
<tr>
<td>true</td><td>Display 2nd POV inside main screen in the right top corner.</td></tr>
</tbody>
</table>
</div>
