<div class="cvar panel panel-default" id="cvar-cl_nofake">
  <div class="panel-heading"><div class="panel-title">cl_nofake</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This command effects name faking using $/ or cl_fakename used by players.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>No unfaking.</td></tr>
<tr>
<td>1</td><td>Unfake all messages.</td></tr>
<tr>
<td>2</td><td>Unfake messages from enemies only.</td></tr>
</tbody>
</table>
</div>
