<div class="cvar panel panel-default" id="cvar-cl_nodelta">
  <div class="panel-heading"><div class="panel-title">cl_nodelta</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Control the network packet delta compression. When you get blue lines<br />in your netgraph, you should set &#39;cl_nodelta 1&#39;.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Enable delta compression.</td></tr>
<tr>
<td>true</td><td>Disable delta compression.</td></tr>
</tbody>
</table>
</div>
