<div class="cvar panel panel-default" id="cvar-cl_nopred">
  <div class="panel-heading"><div class="panel-title">cl_nopred</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>For debugging, disables movement prediction for your character; other players are still predicted.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Predict movement</td></tr>
<tr>
<td>true</td><td>Don&#39;t predict movement</td></tr>
</tbody>
</table>
</div>
