<div class="cvar panel panel-default" id="cvar-cl_nolerp_on_entity">
  <div class="panel-heading"><div class="panel-title">cl_nolerp_on_entity</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Disables linear interpolation only when player is standing on an entity.<br />It is a workaround to remove jittering of floating platforms under feets.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>No effect if fps independent physics is turned off.<br />See cl_nolerp.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td></td></tr>
<tr>
<td>true</td><td></td></tr>
</tbody>
</table>
</div>
