<div class="cvar panel panel-default" id="cvar-cl_onload">
  <div class="panel-heading"><div class="panel-title">cl_onload</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Tells what will be the start-up screen of the client</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>browser</td><td>Server browser will be your start-up screen</td></tr>
<tr>
<td>console</td><td>After start-up you can immediately type into the console</td></tr>
<tr>
<td>menu</td><td>You&#39;ll see the main menu after the start-up</td></tr>
<tr>
<td>&lt;other&gt;</td><td>A command/script to be executed on start-up</td></tr>
</tbody>
</table>
</div>
