<div class="cvar panel panel-default" id="cvar-cl_parsesay">
  <div class="panel-heading"><div class="panel-title">cl_parseSay</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable %-macros (%a %h %b etc...)</td></tr>
<tr>
<td>true</td><td>You can use macros such as %a %h %l (like in Qizmo).</td></tr>
</tbody>
</table>
</div>
