<div class="cvar panel panel-default" id="cvar-cl_parsewhitetext">
  <div class="panel-heading"><div class="panel-title">cl_parseWhiteText</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Convert text between { and } to white or not in chat/team chat.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Convert none.</td></tr>
<tr>
<td>1</td><td>Convert all (chat and team chat).</td></tr>
<tr>
<td>2</td><td>Convert team chat only.</td></tr>
</tbody>
</table>
</div>
