<div class="cvar panel panel-default" id="cvar-cl_parsefunchars">
  <div class="panel-heading"><div class="panel-title">cl_parseFunChars</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Full list:<br />$R - red lamp<br />$G - green lamp<br />$B - blue lamp<br />$Y - yellow lamp<br />$\ - carridge return<br />$( - big left bracket<br />$= - big equal sign<br />$) - big right bracket<br />$. - red middle dot<br />$, - white dot (names only)<br />$&lt; - small left bracket<br />$- - small equal sign<br />$&gt; - small right bracket<br />$a - big grey block<br />$: - line feed<br />$b - filled red block<br />$d - right pointing red arrow<br />$[ - gold left square bracket<br />$] - gold right square bracket<br />$^ - white ^ (names only)<br />^x - red x (names only)<br />$0-9 - yellow number<br />$xyy - char with hex code yy<br />(In order to use the lamps, you&#39;ll need the Ocrana pak).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Off.</td></tr>
<tr>
<td>true</td><td>You can use Ocrana LED&#39;s by hand right out of the console and chat anonymously through &quot;$\&quot; without showing your name (chat messages that are seen without your name at the beginning).</td></tr>
</tbody>
</table>
</div>
