<div class="cvar panel panel-default" id="cvar-cl_predict_half">
  <div class="panel-heading"><div class="panel-title">cl_predict_half</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>The new default eliminates player models&#39; jittering when independent physics is enabled; a possible downside is larger prediction errors of modem players&#39; movement, hence the option to revert to old behavior.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Full prediction of players&#39; movement (ezQuake default)</td></tr>
<tr>
<td>true</td><td>Predicting half the move (QW 2.30 default)</td></tr>
</tbody>
</table>
</div>
