<div class="cvar panel panel-default" id="cvar-cl_restrictions">
  <div class="panel-heading"><div class="panel-title">cl_restrictions</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Triggers and re/msg trigger restrictions for spectator and demoplay modes</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>FuhQuake always behave as cl_restrictions 1.<br />QW262 by default it have cl_restrictions 1.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Allow triggersand huds</td></tr>
<tr>
<td>true</td><td>Disallow triggers and huds</td></tr>
</tbody>
</table>
</div>
