<div class="cvar panel panel-default" id="cvar-cl_sayfilter_sendboth">
  <div class="panel-heading"><div class="panel-title">cl_sayfilter_sendboth</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>When used with cl_sayfilter_coloredtext, sends two versions of the teamplay colored messages: colored one with &quot;#c&quot; at the end and uncolored version of the message with &quot;#u&quot; at the end of the message</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>FuhQuake users then can use &quot;filter #u&quot; to see only uncolored messages, ezQuake users can set &quot;filter #c&quot; to see only colored messages</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Send only one version of the message</td></tr>
<tr>
<td>true</td><td>Send two versions of the message</td></tr>
</tbody>
</table>
</div>
