<div class="cvar panel panel-default" id="cvar-cl_textencoding">
  <div class="panel-heading"><div class="panel-title">cl_textencoding</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines method used to encoding non-standard characters in outgoing messages.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Use KOI8-R encoding (ezQuake 2.2 compatible)</td></tr>
<tr>
<td>1</td><td>Use UTF8 encoding (larger range of characters)</td></tr>
<tr>
<td>2</td><td>Use FTE&#39;s ^Uxxxx encoding</td></tr>
</tbody>
</table>
</div>
