<div class="cvar panel panel-default" id="cvar-cl_upspeed">
  <div class="panel-heading"><div class="panel-title">cl_upspeed</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This allows you to set the speed with which you move up and down in liquids or in spectator mode.<br />Obviously this is also limited by the server, usually to 320*0.7 = 224 when being in liquid and to 500 in spectator mode.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
