<div class="cvar panel panel-default" id="cvar-cl_verify_qwprotocol">
  <div class="panel-heading"><div class="panel-title">cl_verify_qwprotocol</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Enables the check on client startup for handling URLs starting with qw://</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>When enabled and the client is not associated with handling of qw:// URLs, user will be prompted if he wishes to associate the client with the protocol</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td></td></tr>
<tr>
<td>true</td><td></td></tr>
</tbody>
</table>
</div>
