<div class="cvar panel panel-default" id="cvar-cl_weaponhide">
  <div class="panel-heading"><div class="panel-title">cl_weaponhide</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>On -attack will cause your weapon to be automatically switched back to the shotgun or axe.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This is used in majority of teamplay games. If you don&#39;t have ammo for shotgun the axe gets selected.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Weapon will not be automatically hidden</td></tr>
<tr>
<td>1</td><td>After you fire your a weapon, it will get switched to shotgun or axe</td></tr>
<tr>
<td>2</td><td>Like option 1, but only for deathmatch mode 1.</td></tr>
</tbody>
</table>
</div>
