<div class="cvar panel panel-default" id="cvar-cl_weaponhide_axe">
  <div class="panel-heading"><div class="panel-title">cl_weaponhide_axe</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines if axe should be used as &quot;dummy&quot; weapon when using automated weapon hiding (cl_weaponhide).</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See cl_weaponhide and cl_weaponpreselect.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Use shotgun as dummy weapon</td></tr>
<tr>
<td>true</td><td>Use axe as dummy weapon</td></tr>
</tbody>
</table>
</div>
