<div class="cvar panel panel-default" id="cvar-cl_weaponforgetorder">
  <div class="panel-heading"><div class="panel-title">cl_weaponforgetorder</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>1</td><td>weapon/impulse command picks best weapon out of those available at the time of the command</td></tr>
<tr>
<td>false</td><td>weapon/impulse command sets best weapon order, will select best weapon as ammo or weapon obtained</td></tr>
</tbody>
</table>
</div>
