<div class="cvar panel panel-default" id="cvar-con_timestamps">
  <div class="panel-heading"><div class="panel-title">con_timestamps</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggles time stamps before mm1 or spectator messages. Does not apply to messages with cl_fakename.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Do not display timestamps.</td></tr>
<tr>
<td>1</td><td>Display [HH:mm]</td></tr>
<tr>
<td>2</td><td>Display [HH:mm:ss]</td></tr>
</tbody>
</table>
</div>
