<div class="cvar panel panel-default" id="cvar-con_particles_alpha">
  <div class="panel-heading"><div class="panel-title">con_particles_alpha</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets the transparency of con_particles_images.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>From 0....1. 0 is invisible, 1 is completely solid.</td></tr>
</tbody>
</table>
</div>
