<div class="cvar panel panel-default" id="cvar-con_particles_images">
  <div class="panel-heading"><div class="panel-title">con_particles_images</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Set the number of images you have in /textures/conpart.png.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Each image should take up 64x64 pixels.</td></tr>
</tbody>
</table>
</div>
