<div class="cvar panel panel-default" id="cvar-con_funchars_mode">
  <div class="panel-heading"><div class="panel-title">con_funchars_mode</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Orange text, LEDs and special chars with [Ctrl] key - kind of MQWCL behaviour when set to 1</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>FuhQuake behaviour - [Ctrl] + key for yellow numbers and LEDs</td></tr>
<tr>
<td>true</td><td>MQWCL behaviour - [Ctrl] + [Y] turns on yellow number input</td></tr>
</tbody>
</table>
</div>
