<div class="cvar panel panel-default" id="cvar-con_bindphysical">
  <div class="panel-heading"><div class="panel-title">con_bindphysical</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Affects behaviour of bind command.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>con_bindphysical will always be set to 1 at start of executing a script, and be reset after.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>&#39;bind x y&#39; will bind y to the key used to produce character x at the console (layout-aware)</td></tr>
<tr>
<td>1</td><td>&#39;bind x y&#39; will bind y to physical key x, as if using an American keyboard layout (layout independent)</td></tr>
</tbody>
</table>
</div>
