<div class="cvar panel panel-default" id="cvar-con_highlight_mark">
  <div class="panel-heading"><div class="panel-title">con_highlight_mark</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Specifies the text that will be used to highlight lines with con_highlight 2 and 3.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>This text will be used on the beginning of the highlighted line</td></tr>
</tbody>
</table>
</div>
