<div class="cvar panel panel-default" id="cvar-con_clearnotify">
  <div class="panel-heading"><div class="panel-title">con_clearnotify</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Messages stay even when you toggle console.</td></tr>
<tr>
<td>true</td><td>Messages won&#39;t say when you toggle console.</td></tr>
</tbody>
</table>
</div>
