<div class="cvar panel panel-default" id="cvar-con_highlight">
  <div class="panel-heading"><div class="panel-title">con_highlight</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Console highlighting mode. Will highlight a line in the console which contains your nickname.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See con_highlight_mark.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>No highlighting</td></tr>
<tr>
<td>1</td><td>Highlighted line will be all white.</td></tr>
<tr>
<td>2</td><td>Highlighted line will start with the text given in con_highlight_mark</td></tr>
<tr>
<td>3</td><td>Both 1 and 2: highlighted line will be white and start with special text</td></tr>
</tbody>
</table>
</div>
