<div class="cvar panel panel-default" id="cvar-con_mm2_only">
  <div class="panel-heading"><div class="panel-title">con_mm2_only</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>If set, notification area is limited to mm2 (/say_team) messages</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>All messages</td></tr>
<tr>
<td>true</td><td>MM2 messages only</td></tr>
</tbody>
</table>
</div>
