<div class="cvar panel panel-default" id="cvar-con_completion_color_title">
  <div class="panel-heading"><div class="panel-title">con_completion_color_title</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Color of completion type title (variables, aliases or commands) used in modern completion formatting.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Example: 39f</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Use following color format: RGB</td></tr>
</tbody>
</table>
</div>
