<div class="cvar panel panel-default" id="cvar-crosshairscale">
  <div class="panel-heading"><div class="panel-title">crosshairscale</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>When using built-in crosshairs, increases the resolution of the crosshair, giving a crisper image on screen.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Max value 5.  Increasing this value will require lowering of /crosshairsize to give same size image on screen.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>8x8</td></tr>
<tr>
<td>1</td><td>16x16</td></tr>
<tr>
<td>2</td><td>32x32</td></tr>
<tr>
<td>3</td><td>64x64</td></tr>
<tr>
<td>4</td><td>128x128</td></tr>
<tr>
<td>5</td><td>256x256</td></tr>
</tbody>
</table>
</div>
