<div class="cvar panel panel-default" id="cvar-crosshairscalemethod">
  <div class="panel-heading"><div class="panel-title">crosshairscalemethod</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines how crosshair images are scaled</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>When changing this value, /crosshairscale &amp; /crosshairsize should be adjusted accordingly.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Quake standard scaling: resolution width / 320</td></tr>
<tr>
<td>1</td><td>No scaling, sizes are in pixels</td></tr>
</tbody>
</table>
</div>
