<div class="cvar panel panel-default" id="cvar-crosshairimage">
  <div class="panel-heading"><div class="panel-title">crosshairimage</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>The filename of the crosshair image.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Crosshair images should be placed in ./ezquake/crosshairs or ./qw/crosshairs directory.</div></div>
  </div>
</div>
