<div class="cvar panel panel-default" id="cvar-cvar_viewdefault">
  <div class="panel-heading"><div class="panel-title">cvar_viewdefault</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>When you type a cvar name into console (like &#39;gl_gamma&#39; or &#39;r_rocketlight&#39;), the client will tell you the default value of the cvar.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Off.</td></tr>
<tr>
<td>true</td><td>On.</td></tr>
</tbody>
</table>
</div>
