<div class="cvar panel panel-default" id="cvar-d_subdiv16">
  <div class="panel-heading"><div class="panel-title">d_subdiv16</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Precise texture mapping (slower, more accurate).</td></tr>
<tr>
<td>true</td><td>Perspective correction only every 16 pixels (faster, less accurate).</td></tr>
</tbody>
</table>
</div>
