<div class="cvar panel panel-default" id="cvar-demo_format">
  <div class="panel-heading"><div class="panel-title">demo_format</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Specifies the demo file format used when recording demo with Match tools.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See qwdtools_dir, qizmo_dir, match_auto_record.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>mvd</td><td>MultiView Demo, usually contains less frames per second.</td></tr>
<tr>
<td>qwd</td><td>Original QuakeWorld demo format.</td></tr>
<tr>
<td>qwz</td><td>Qizmo compressed demo.</td></tr>
</tbody>
</table>
</div>
