<div class="cvar panel panel-default" id="cvar-demo_getpings">
  <div class="panel-heading"><div class="panel-title">demo_getpings</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This toggles whether the client should always record pings into the demo or only<br />when the player died and show(team)scores are being shown (QWCL default).</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>only update pings in the demo when the player died and show(team)scores<br />    are being shown</td></tr>
<tr>
<td>true</td><td>always update pings</td></tr>
</tbody>
</table>
</div>
