<div class="cvar panel panel-default" id="cvar-demo_jump_rewind">
  <div class="panel-heading"><div class="panel-title">demo_jump_rewind</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Specifies the automatic rewind time before /demo_jump_mark or /demo_jump_status triggers normal playback</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Time in seconds, must be negative.</div></div>
  </div>
</div>
