<div class="cvar panel panel-default" id="cvar-demo_capture_vid_maxlen">
  <div class="panel-heading"><div class="panel-title">demo_capture_vid_maxlen</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>If set, multiple files will be created.  This variable determines length of each file in MB</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>The .avi format has issues with files over 2GB in size.</div></div>
  </div>
</div>
