<div class="cvar panel panel-default" id="cvar-enemybottomcolor">
  <div class="panel-heading"><div class="panel-title">enemybottomcolor</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines the color of the pants of the enemies you see. Overrides player&#39;s skin settings.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>To be able to use RGB 24bit colors, look for r_enemyskincolor variable.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>-1</td><td>disabled</td></tr>
</tbody>
</table>
</div>
