<div class="cvar panel panel-default" id="cvar-file_browser_sort_mode">
  <div class="panel-heading"><div class="panel-title">file_browser_sort_mode</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines sort order of files in the file browser.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>1</td><td>name</td></tr>
<tr>
<td>2</td><td>size</td></tr>
<tr>
<td>3</td><td>date/time</td></tr>
<tr>
<td>4</td><td>type</td></tr>
</tbody>
</table>
</div>
