<div class="cvar panel panel-default" id="cvar-freelook">
  <div class="panel-heading"><div class="panel-title">freelook</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>direction up or down.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Both -mlook and freelook 0 must be specified to disable free look mode.</td></tr>
<tr>
<td>true</td><td>Enables free look mode, that is, moving the mouse forward and back moves your view</td></tr>
</tbody>
</table>
</div>
