<div class="cvar panel panel-default" id="cvar-gl_anisotropy">
  <div class="panel-heading"><div class="panel-title">gl_anisotropy</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Anisotropic filtering. Basically improved texture quality.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Depends on your Graphics card capabilities and settings. Make sure you have enabled &quot;Application controled&quot; in your Graphics card settings for Anisotropic filtering option.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>0 and 1 means turned off, 16 is usually the highest quality</td></tr>
</tbody>
</table>
</div>
