<div class="cvar panel panel-default" id="cvar-gl_custom_grenade_fullbright">
  <div class="panel-heading"><div class="panel-title">gl_custom_grenade_fullbright</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines if gl_custom_grenade_color refers to a fullbright color or standard.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Has no effect if gl_custom_grenade_color is blank.</div></div>
  </div>
</div>
