<div class="cvar panel panel-default" id="cvar-gl_custom_spike_color">
  <div class="panel-heading"><div class="panel-title">gl_custom_spike_color</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows color of spikes/nails to be set without requiring a texture change.</div></div>
    <div class="doc-row type"><div>Type:</div><div>color</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Leave blank to disable.  See gl_custom_spike_fullbright.</div></div>
  </div>
</div>
