<div class="cvar panel panel-default" id="cvar-gl_clipparticles">
  <div class="panel-heading"><div class="panel-title">gl_clipparticles</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable.</td></tr>
<tr>
<td>true</td><td>this will limit the number of blended particles close to you. This gives a big FPS increase when blended particles take up a big proportion of your screen and challenge your video card&#39;s fillrate.</td></tr>
</tbody>
</table>
</div>
