<div class="cvar panel panel-default" id="cvar-gl_fb_models">
  <div class="panel-heading"><div class="panel-title">gl_fb_models</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Might also give you more fps.</td></tr>
<tr>
<td>true</td><td>Enable &quot;fullbright&quot; colors on alias models (grenades, player models, etc).</td></tr>
</tbody>
</table>
</div>
