<div class="cvar panel panel-default" id="cvar-gl_hwblend">
  <div class="panel-heading"><div class="panel-title">gl_hwblend</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Note: 1 can be slow on wintNT/2K.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>OpenGL routines.</td></tr>
<tr>
<td>true</td><td>Hardware palette changing.</td></tr>
</tbody>
</table>
</div>
