<div class="cvar panel panel-default" id="cvar-gl_luma_level">
  <div class="panel-heading"><div class="panel-title">gl_luma_level</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Some luma textures have black (in RGB format its 0,0,0) non-transparent pixels. This can make them transparent.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Setting this to 0 will disable the functionality. For some commonly used texture packs value 1 is necessary.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>e.g. value 10 makes particular pixels transparent if each color component LESS than 10</td></tr>
</tbody>
</table>
</div>
