<div class="cvar panel panel-default" id="cvar-gl_lightmode">
  <div class="panel-heading"><div class="panel-title">gl_lightmode</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Makes the map lighter, but fullbrights don&#39;t look as good. (0% overbrights)</td></tr>
<tr>
<td>1</td><td>Makes the map darker, but makes fullbrights stand out more (looks better). (33% overbrights)</td></tr>
</tbody>
</table>
</div>
