<div class="cvar panel panel-default" id="cvar-gl_lerpimages">
  <div class="panel-heading"><div class="panel-title">gl_lerpimages</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Faster loading maps (not more fps).</td></tr>
<tr>
<td>true</td><td>Better texture quality.</td></tr>
</tbody>
</table>
</div>
