<div class="cvar panel panel-default" id="cvar-gl_loadlitfiles">
  <div class="panel-heading"><div class="panel-title">gl_loadlitfiles</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Controls when external 24-bit lighting will be used.  24-bit/colored lighting is either embedded in newer .bsp files, or loaded from external .lit files.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Disable 24-bit lighting.</td></tr>
<tr>
<td>1</td><td>Load lit files &amp; use inline colored lighting.</td></tr>
<tr>
<td>2</td><td>Load lit files only.</td></tr>
<tr>
<td>3</td><td>Use inline colored lighting only.</td></tr>
</tbody>
</table>
</div>
