<div class="cvar panel panel-default" id="cvar-gl_no24bit">
  <div class="panel-heading"><div class="panel-title">gl_no24bit</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Disables support of alternate 24bit textures. Requires a vid_restart to take effect.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Allow 24-bit textures</td></tr>
<tr>
<td>true</td><td>Disable 24-bit textures</td></tr>
</tbody>
</table>
</div>
