<div class="cvar panel panel-default" id="cvar-gl_nailtrail">
  <div class="panel-heading"><div class="panel-title">gl_nailtrail</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Adds a white trail onto nails as they fly around.<br />This feature wont work on servers not running with sv_nailhack set to 1.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable nail trails.</td></tr>
<tr>
<td>true</td><td>Enable nail trails.</td></tr>
</tbody>
</table>
</div>
