<div class="cvar panel panel-default" id="cvar-gl_nailtrail_plasma">
  <div class="panel-heading"><div class="panel-title">gl_nailtrail_plasma</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Adds plasma trail to nails.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Need gl_nailtrail 1.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>No plasma trail.</td></tr>
<tr>
<td>true</td><td>Blue plasma trail.</td></tr>
</tbody>
</table>
</div>
