<div class="cvar panel panel-default" id="cvar-gl_part_tracer2_size">
  <div class="panel-heading"><div class="panel-title">gl_part_tracer2_size</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Changes the size of the tracer2 trail, which allows you to customize the rockettrail size (see remarks).</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>If you set r_rockettrail 7 and gl_part_trails 1, this variable will change your rockettrail size</div></div>
  </div>
</div>
