<div class="cvar panel panel-default" id="cvar-gl_playermip">
  <div class="panel-heading"><div class="panel-title">gl_playermip</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines the level of detail of player models. This variable is useful if you are <br />experience game slowdown during multiplayer games when there are lots of players on <br />your screen by shrinking the texture detail, but this will make the player models more blurry.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>X = etc.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Full detail.</td></tr>
<tr>
<td>1</td><td>Medium detail.</td></tr>
<tr>
<td>2</td><td>Low detail.</td></tr>
</tbody>
</table>
</div>
