<div class="cvar panel panel-default" id="cvar-gl_part_telesplash">
  <div class="panel-heading"><div class="panel-title">gl_part_telesplash</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Use classic quake teleport particles</td></tr>
<tr>
<td>1</td><td>Use &#39;new/eye-candy&#39; teleport particles: &#39;dots&#39; and &#39;rays&#39;</td></tr>
<tr>
<td>2</td><td>Use &#39;new/eye-candy&#39; teleport particles: &#39;dots&#39; only</td></tr>
</tbody>
</table>
</div>
