<div class="cvar panel panel-default" id="cvar-gl_picmip">
  <div class="panel-heading"><div class="panel-title">gl_picmip</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This variable determines the the level of detail for textures used on walls. You<br />can use this variable to lower the texture detail used on walls thus increasing<br />the game&#39;s performance.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>X = etc..</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Original size.</td></tr>
<tr>
<td>1</td><td>Half the dimensions.</td></tr>
<tr>
<td>2</td><td>One-fourth the dimensions.</td></tr>
</tbody>
</table>
</div>
