<div class="cvar panel panel-default" id="cvar-gl_surface_slime">
  <div class="panel-heading"><div class="panel-title">gl_surface_slime</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Adds bubbles and fumes of slime over the slime.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>disabled</td></tr>
<tr>
<td>1</td><td>Small fumes</td></tr>
<tr>
<td>2</td><td>Large fumes</td></tr>
<tr>
<td>3</td><td>Like 1 but adjusted by HyperNewbie</td></tr>
<tr>
<td>4</td><td>Like 2 but adjusted by HyperNewbie</td></tr>
</tbody>
</table>
</div>
