<div class="cvar panel panel-default" id="cvar-gl_simpleitems_orientation">
  <div class="panel-heading"><div class="panel-title">gl_simpleitems_orientation</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Orientation based on player&#39;s view</td></tr>
<tr>
<td>1</td><td>Facing the player, horizontally only</td></tr>
<tr>
<td>2</td><td>Directly facing the player</td></tr>
<tr>
<td>3</td><td>Items rotate</td></tr>
</tbody>
</table>
</div>
