<div class="cvar panel panel-default" id="cvar-gl_simpleitems">
  <div class="panel-heading"><div class="panel-title">gl_simpleitems</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Instead of 3D item models in the game display 2D images representing them.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Draw 3D item models</td></tr>
<tr>
<td>true</td><td>Draw 2D sprites</td></tr>
</tbody>
</table>
</div>
