<div class="cvar panel panel-default" id="cvar-gl_texturemode2d">
  <div class="panel-heading"><div class="panel-title">gl_texturemode2d</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Texture mode used for objects in the head up display, such as font, image of armor, player&#39;s face or crosshair.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See gl_texturemode for possible values.</div></div>
  </div>
</div>
