<div class="cvar panel panel-default" id="cvar-gl_turbfog">
  <div class="panel-heading"><div class="panel-title">gl_turbfog</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Controls amount of fog when inside liquid (water, lava, slime).<br />Density is controlled by choosing a value from 0 to 1 and from 1 to 2.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Works only when multitexturing is enabled.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Fog in liquids is turned OFF</td></tr>
<tr>
<td>1</td><td>Linear fog in liquids.</td></tr>
<tr>
<td>2</td><td>Logarithmic fog in liquids.</td></tr>
</tbody>
</table>
</div>
