<div class="cvar panel panel-default" id="cvar-gl_turbalpha">
  <div class="panel-heading"><div class="panel-title">gl_turbalpha</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This variable determines the level of opacity for liquids, which requires<br />the use of maps that were VISed with transparent water. When using maps that<br />have not been VISed in such a way, you have to use &quot;r_novis 1&quot;. If &quot;r_novis&quot; is<br />set to &quot;1&quot; or when using a map VISed with transparent water and using setting<br />&quot;gl_turbalpha&quot; to a value lower than &quot;1&quot;, the player will be able to see objects <br />and walls through liquids if the server allows that. This is a very nice feature <br />to have in the game, for more information refer to the &quot;r_novis&quot; command. You <br />can use any value between &quot;0&quot; and &quot;1&quot; for &quot;gl_turbalpha&quot;, here are some <br />Examples:</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0.00</td><td>Transparent.</td></tr>
<tr>
<td>0.25</td><td>Low opacity.</td></tr>
<tr>
<td>0.50</td><td>Medium opacity.</td></tr>
<tr>
<td>0.75</td><td>High opacity.</td></tr>
<tr>
<td>1.00</td><td>Solid.</td></tr>
</tbody>
</table>
</div>
