<div class="cvar panel panel-default" id="cvar-gl_turbripple">
  <div class="panel-heading"><div class="panel-title">gl_turbripple</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Put your life vests on, waves are coming! Creates an effect of waves on liquids.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Enabled only for viewing demos and observing games.</div></div>
  </div>
</div>
