<div class="cvar panel panel-default" id="cvar-gl_turbfog_color_lava">
  <div class="panel-heading"><div class="panel-title">gl_turbfog_color_lava</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Color of fog in lava.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>R G B, each 0-255</td></tr>
</tbody>
</table>
</div>
