<div class="cvar panel panel-default" id="cvar-gl_texturemode">
  <div class="panel-heading"><div class="panel-title">gl_texturemode</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>GL_NEAREST* modes are often used with gl_miptexlevel 3</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>GL_LINEAR</td><td>Linear filtering, no blending.</td></tr>
<tr>
<td>GL_LINEAR_MIPMAP_LINEAR</td><td>Trilinear interpolation. Highest quality, lowest performance.</td></tr>
<tr>
<td>GL_LINEAR_MIPMAP_NEAREST</td><td>Bilinear interpolation.</td></tr>
<tr>
<td>GL_NEAREST</td><td>Point sampled (software-like). Lowest quality, highest performance.</td></tr>
<tr>
<td>GL_NEAREST_MIPMAP_LINEAR</td><td>GL_NEAREST but with even more quality for far objects.</td></tr>
<tr>
<td>GL_NEAREST_MIPMAP_NEAREST</td><td>GL_NEAREST but with a bit more quality for far objects.</td></tr>
</tbody>
</table>
</div>
