<div class="cvar panel panel-default" id="cvar-gl_weather_rain">
  <div class="panel-heading"><div class="panel-title">gl_weather_rain</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Turns on rain out of doors, the density of rain is equal to whatever gl_weather_rain is set to.<br />If you set gl_weather_rain_fast to 1, you can turn off all splashes, if you set it to 2, you will turn off only the water splashes.<br />Works on all non-iD maps except death32c, dakyne and some others.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
