<div class="cvar panel panel-default" id="cvar-gl_ztrick">
  <div class="panel-heading"><div class="panel-title">gl_ztrick</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This variables toggles the use of a trick to prevent the clearning of the <br />z-buffer between frames. When this variable is set to &quot;1&quot;, the game will not <br />clear the z-buffer between frames. This will result in increased performance <br />but might cause problems for some display hardware.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not use the z-buffer trick.</td></tr>
<tr>
<td>true</td><td>Use the z-buffer trick.</td></tr>
</tbody>
</table>
</div>
