<div class="cvar panel panel-default" id="cvar-help_files_scrollnames">
  <div class="panel-heading"><div class="panel-title">help_files_scrollnames</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Should the filenames in the help browser get scrolled if they don&#39;t fit when the file is selected?</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Don&#39;t scroll names</td></tr>
<tr>
<td>true</td><td>Scroll names</td></tr>
</tbody>
</table>
</div>
