<div class="cvar panel panel-default" id="cvar-hud_teaminfo_show">
  <div class="panel-heading"><div class="panel-title">hud_teaminfo_show</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Display information about your team and optionally enemies</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Enemy information can be enabled through hud_teaminfo_show_enemies 1.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td></td></tr>
<tr>
<td>true</td><td></td></tr>
</tbody>
</table>
</div>
