<div class="cvar panel panel-default" id="cvar-hud_editor_allowplace">
  <div class="panel-heading"><div class="panel-title">hud_editor_allowplace</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allow placing HUD elements in HUD editor mode.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This can also be toggled when in the HUD editor by using the F4 button.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Dissallow placing HUD elements in the HUD editor</td></tr>
<tr>
<td>true</td><td>Allow placing HUD elements in the HUD editor (ctrl + mouse 1)</td></tr>
</tbody>
</table>
</div>
