<div class="cvar panel panel-default" id="cvar-hud_speed2_orientation">
  <div class="panel-heading"><div class="panel-title">hud_speed2_orientation</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>The orientation of the speed2 hud item. This can be set to, up, down, left and right. That is, the direction that the hud item will be pointing in.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Point upwards.</td></tr>
<tr>
<td>1</td><td>Point downwards.</td></tr>
<tr>
<td>2</td><td>Point to the right.</td></tr>
<tr>
<td>3</td><td>Point to the left.</td></tr>
</tbody>
</table>
</div>
