<div class="cvar panel panel-default" id="cvar-hud_teaminfo_show_enemies">
  <div class="panel-heading"><div class="panel-title">hud_teaminfo_show_enemies</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Show information about the enemy team(s) in the teaminfo window. Displays a header for each team consisting of the team name and the current team score.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Hides information about enemy team(s)</td></tr>
<tr>
<td>true</td><td>Shows information about enemy team(s)</td></tr>
</tbody>
</table>
</div>
