<div class="cvar panel panel-default" id="cvar-hud_fps_drop">
  <div class="panel-heading"><div class="panel-title">hud_fps_drop</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets the value which will trigger displaying the fps (requires hud_fps_style 2 or 3). For example, with value hud_fps_drop 70, the fps will only be displayed if it drops to 70 or below. For fps values greater than 70, the fps will not be displayed.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
