<div class="cvar panel panel-default" id="cvar-hud_tracking_place">
  <div class="panel-heading"><div class="panel-title">hud_tracking_place</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets placement for this HUD element. You can align some elements relative to other elements.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>First you have to decide, if the element that you are locating now (element B) is to be positioned inside another element (element A) or outside it. See HUD manual for more info.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>to place this element inside element B set this variable to &quot;@B&quot;, to place it outside B element set this variable to &quot;B&quot;</td></tr>
</tbody>
</table>
</div>
