<div class="cvar panel panel-default" id="cvar-hud_mp3_title_style">
  <div class="panel-heading"><div class="panel-title">hud_mp3_title_style</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets format of text of &#39;mp3_title&#39; HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Shows just winamp song information.</td></tr>
<tr>
<td>1</td><td>Same as 0 but shows &#39;Playing: &#39; before the song information.</td></tr>
<tr>
<td>2</td><td>Same as 0 but shows &#39;Playing&#39; in golden brackets before the song information.</td></tr>
</tbody>
</table>
</div>
