<div class="cvar panel panel-default" id="cvar-hud_mp3_title_wordwrap">
  <div class="panel-heading"><div class="panel-title">hud_mp3_title_wordwrap</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggles word wrapping inside mp3_title element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See &#39;mp3_title height&#39;.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Don&#39;t wrap words, scroll if necessary and allowed.</td></tr>
<tr>
<td>true</td><td>Wrap words if more lines are allowed.</td></tr>
</tbody>
</table>
</div>
