<div class="cvar panel panel-default" id="cvar-hud_sortrules_includeself">
  <div class="panel-heading"><div class="panel-title">hud_sortrules_includeself</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines how the current player is sorted</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>No special treatment, sort as normal.</td></tr>
<tr>
<td>1</td><td>The current player always appears in first place.</td></tr>
<tr>
<td>2</td><td>The current player be in first or second place.</td></tr>
</tbody>
</table>
</div>
