<div class="cvar panel panel-default" id="cvar-hud_radar_show_stats">
  <div class="panel-heading"><div class="panel-title">hud_radar_show_stats</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Decides what type of stats should be shown on the radar.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>The team stats are calculated depending on how strong a player is. A strong player with a good weapon raises the weight for a certain area more than a weak one. The team with the highest weight for a certain area is considered to hold that area.</div></div>
  </div>
</div>
