<div class="cvar panel panel-default" id="cvar-hud_editor_allowalign">
  <div class="panel-heading"><div class="panel-title">hud_editor_allowalign</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Should aligning be allowed when using the HUD editor?</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This can also be toggled when in the HUD editor by using the F3 button.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Dissallow aligning in the HUD editor</td></tr>
<tr>
<td>true</td><td>Allow aligning in the HUD editor (alt + mouse 1)</td></tr>
</tbody>
</table>
</div>
