<div class="cvar panel panel-default" id="cvar-hud_teamfrags_space_y">
  <div class="panel-heading"><div class="panel-title">hud_teamfrags_space_y</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets vertical spacing for teamfrags fields.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Use zero or positive values.</td></tr>
</tbody>
</table>
</div>
