<div class="cvar panel panel-default" id="cvar-hud_frags_showself_always">
  <div class="panel-heading"><div class="panel-title">hud_frags_showself_always</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Forces the client to show the part of frags table where you are.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Display highest frags only.</td></tr>
<tr>
<td>true</td><td>Display the part of table where you are.</td></tr>
</tbody>
</table>
</div>
