<div class="cvar panel panel-default" id="cvar-hud_group3_pic_scalemode">
  <div class="panel-heading"><div class="panel-title">hud_group3_pic_scalemode</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Changes the style how the background picture is aligned and stretched for the group3 HUD element. Values from 0 to 5 are supported. See HUD manual for more info</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
</div>
