<div class="cvar panel panel-default" id="cvar-hud_frags_shownames">
  <div class="panel-heading"><div class="panel-title">hud_frags_shownames</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Draws players names next to frag counts in &#39;frags&#39; HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Don&#39;t display players&#39; names.</td></tr>
<tr>
<td>true</td><td>Display players&#39; names.</td></tr>
</tbody>
</table>
</div>
