<div class="cvar panel panel-default" id="cvar-hud_teamfrags_strip">
  <div class="panel-heading"><div class="panel-title">hud_teamfrags_strip</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggles stripped formatting of teamfrags fields.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Standard display.</td></tr>
<tr>
<td>true</td><td>Stripped format.</td></tr>
</tbody>
</table>
</div>
