<div class="cvar panel panel-default" id="cvar-hud_score_bar_format_reversed_small">
  <div class="panel-heading"><div class="panel-title">hud_score_bar_format_reversed_small</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Format string for score_bar HUD element, used when hud_score_bar_fixed_order has taken effect.<br />If not set, hud_score_bar_format_reversed_small will be used instead.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See hud_score_bar_format_reversed_small for format codes.</div></div>
  </div>
</div>
