<div class="cvar panel panel-default" id="cvar-hud_mp3_time_align_x">
  <div class="panel-heading"><div class="panel-title">hud_mp3_time_align_x</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets mp3_time HUD element horizontal alignment.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See HUD manual for more info.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>left, center, right, before, after</td></tr>
</tbody>
</table>
</div>
