<div class="cvar panel panel-default" id="cvar-hud_teamholdinfo_itemfilter">
  <div class="panel-heading"><div class="panel-title">hud_teamholdinfo_itemfilter</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Decides what items should be shown in the list.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Any character/whitespace can be used as a delimiter. Make sure you enter the value between quotes if you use whitespaces.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Valid  values: RL, LG, GL, SNG, Quad, Pent, Ring, Suit, Mega, RA, YA, GA</td></tr>
</tbody>
</table>
</div>
