<div class="cvar panel panel-default" id="cvar-hud_gameclock_big">
  <div class="panel-heading"><div class="panel-title">hud_gameclock_big</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Draw the text of the gameclock using big numbers.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Draw the gameclock using the normal charset</td></tr>
<tr>
<td>true</td><td>Draw the gameclock with big numbers.</td></tr>
</tbody>
</table>
</div>
