<div class="cvar panel panel-default" id="cvar-hud_teamholdinfo_style">
  <div class="panel-heading"><div class="panel-title">hud_teamholdinfo_style</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>The style of the teamholdinfo hud item.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Show the name of the team holding the items next to it.</td></tr>
<tr>
<td>1</td><td>Show a teamholdbar for each item showing how much of the item each team is holding.</td></tr>
</tbody>
</table>
</div>
