<div class="cvar panel panel-default" id="cvar-hud_speed2_xyz">
  <div class="panel-heading"><div class="panel-title">hud_speed2_xyz</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Base the speed calculation on up/down movement also. </div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Only use the X/Y movement to calculate the speed.</td></tr>
<tr>
<td>true</td><td>Use X/Y/Z movement to calculate the speed. (movement up/down included).</td></tr>
</tbody>
</table>
</div>
