<div class="cvar panel panel-default" id="cvar-hud_teamholdinfo_show">
  <div class="panel-heading"><div class="panel-title">hud_teamholdinfo_show</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Visibility of the teamholdinfo HUD element</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td></td></tr>
<tr>
<td>true</td><td></td></tr>
</tbody>
</table>
</div>
