<div class="cvar panel panel-default" id="cvar-hud_speed_vertical_text">
  <div class="panel-heading"><div class="panel-title">hud_speed_vertical_text</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets whetever the text on the speed hud item should be drawn vertically when the hud item itself is being drawn vertically.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This has no effect if the hud item isn&#39;t drawn vertically.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Draw the text horizontally.</td></tr>
<tr>
<td>true</td><td>Draw the text vertically when the speed hud item is being drawn vertically.</td></tr>
</tbody>
</table>
</div>
