<div class="cvar panel panel-default" id="cvar-hud_teamfrags_frame">
  <div class="panel-heading"><div class="panel-title">hud_teamfrags_frame</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets frame visibility and style for this HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Use floating point values from range 0..1 to get alpha transparent background or 2 to get bevel frame.</td></tr>
</tbody>
</table>
</div>
