<div class="cvar panel panel-default" id="cvar-hud_speed2_wrapspeed">
  <div class="panel-heading"><div class="panel-title">hud_speed2_wrapspeed</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets the speed when the speed needle will reset to the original position, and the next color is shown (to indicate faster speed).</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>The wrap speed.</td></tr>
</tbody>
</table>
</div>
