<div class="cvar panel panel-default" id="cvar-hud_teamfrags_vertical">
  <div class="panel-heading"><div class="panel-title">hud_teamfrags_vertical</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggles vertical ordering of teamfrags fields.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Order cells horizontally first.</td></tr>
<tr>
<td>true</td><td>Order cells vertically first.</td></tr>
</tbody>
</table>
</div>
