<div class="cvar panel panel-default" id="cvar-hud_teamfrags_padtext">
  <div class="panel-heading"><div class="panel-title">hud_teamfrags_padtext</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggles text padding in &#39;frags&#39; HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Use &#39;teamfrags shownames 1&#39;.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>No spaces between text fields.</td></tr>
<tr>
<td>true</td><td>Adds padding so frags and team tags are aligned into columns.</td></tr>
</tbody>
</table>
</div>
