<div class="cvar panel panel-default" id="cvar-hud_fps_style">
  <div class="panel-heading"><div class="panel-title">hud_fps_style</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Alters how and when the fps is drawn. Please see hud_fps_drop for styles 2 and 3.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>white text</td></tr>
<tr>
<td>1</td><td>brown text</td></tr>
<tr>
<td>2</td><td>white text, fps will show only if the client&#39;s fps is less than or equal to hud_fps_drop value</td></tr>
<tr>
<td>3</td><td>brown text, same as 2</td></tr>
</tbody>
</table>
</div>
