<div class="cvar panel panel-default" id="cvar-hud_radar_show_hold">
  <div class="panel-heading"><div class="panel-title">hud_radar_show_hold</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This will show the name of all the important items on the map (RL, LG, GL, SNG, Quad, Pent, Ring, Suit, Mega, Armors). A circle is drawn around the items, the team who has the highest weight inside this area is considered to be holding that particular item. See the teamholdinfo hud item.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>It is not recommended to have this visible at all times. Instead it&#39;s meant for a  quick glance to know which item is named what when using the Teamholdbarinfo hud item. For instance if the map has two YA&#39;s, one is named YA and the other YA2. Use this feature to see which is which.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Don&#39;t show the items and circles on the radar.</td></tr>
<tr>
<td>true</td><td>Show the item names and circle on the radar.</td></tr>
</tbody>
</table>
</div>
