<div class="cvar panel panel-default" id="cvar-hud_radar_weaponfilter">
  <div class="panel-heading"><div class="panel-title">hud_radar_weaponfilter</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Decides which weapons that should be shown on the radar.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Any character/whitespace can be used as a delimiter. Make sure you enter the value between quotes if you use whitespaces.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Valid values: ssg, ng, sng, rl, gl, lg</td></tr>
</tbody>
</table>
</div>
