<div class="cvar panel panel-default" id="cvar-hud_teamholdbar_show_text">
  <div class="panel-heading"><div class="panel-title">hud_teamholdbar_show_text</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Shows the percent for each team on the teamholdbar.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>vertical_text can be used when vertical mode is set to draw the text vertically also.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Don&#39;t show the percentages.</td></tr>
<tr>
<td>true</td><td>Show the percentages for the teams.</td></tr>
</tbody>
</table>
</div>
