<div class="cvar panel panel-default" id="cvar-hud_mp3_title_width">
  <div class="panel-heading"><div class="panel-title">hud_mp3_title_width</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets width of mp3_title HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>8 = one char with standard console settings.</td></tr>
</tbody>
</table>
</div>
