<div class="cvar panel panel-default" id="cvar-hud_frags_style">
  <div class="panel-heading"><div class="panel-title">hud_frags_style</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets drawing style of &#39;frags&#39; HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Golden brackets around your own frags field.</td></tr>
<tr>
<td>1</td><td>Arrow pointing to your own frags field.</td></tr>
<tr>
<td>2</td><td>Red rectangle around your own frags fiels.</td></tr>
<tr>
<td>3</td><td>Similar to 1.</td></tr>
<tr>
<td>4</td><td>Sets background color for your own field to &#39;teamcolor&#39;.</td></tr>
<tr>
<td>5</td><td>Sets background color for all field to teamcolors enemycolors, all fields 50% transparent, your own field not transparent. Red rectangle around your own field including name and team tag.</td></tr>
<tr>
<td>6</td><td>Red rectangle around your own field including name and team tag. Background color only for your own field and set to &#39;teamcolor&#39;.</td></tr>
<tr>
<td>7</td><td>Background color for whole table 50% transparent red, your own field not transparent.</td></tr>
<tr>
<td>8</td><td>Red background color only for your own field including name and team tag.</td></tr>
</tbody>
</table>
</div>
