<div class="cvar panel panel-default" id="cvar-hud_frags_bignum">
  <div class="panel-heading"><div class="panel-title">hud_frags_bignum</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Changes the scale of the fragcount number.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>If this is 0 the fragcount will use the normal charset. If it&#39;s above 0 it will scale a big number character instead.</td></tr>
</tbody>
</table>
</div>
