<div class="cvar panel panel-default" id="cvar-hud_frags_extra_spec_info">
  <div class="panel-heading"><div class="panel-title">hud_frags_extra_spec_info</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Enables to see what people have rocket launchers, powerups and how much health and armor they have using icons next to the frags. Works while watching MVD demo.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>No extra information is shown.</td></tr>
<tr>
<td>1</td><td>Show RL, powerups armor and health.</td></tr>
<tr>
<td>2</td><td>Show powerups, armor and health. (No RL&#39;s)</td></tr>
<tr>
<td>3</td><td>Show RL, powerups and health. (No armor)</td></tr>
<tr>
<td>4</td><td>Show RL, powerups and armor. (No health)</td></tr>
<tr>
<td>5</td><td>Show RL, armor and health. (No powerups)</td></tr>
<tr>
<td>6</td><td>Show only powerups.</td></tr>
<tr>
<td>7</td><td>Show only health.</td></tr>
<tr>
<td>8</td><td>Show only armor.</td></tr>
<tr>
<td>9</td><td>Show only RL.</td></tr>
</tbody>
</table>
</div>
