<div class="cvar panel panel-default" id="cvar-hud_score_bar_format_big">
  <div class="panel-heading"><div class="panel-title">hud_score_bar_format_big</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Format string for score_bar HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>%d - score difference between you and enemy.<br />%D - score difference between you and enemy, red chars.<br />%t - team score.<br />%T - your (team) score, red chars.<br />%e - enemy (team) score.<br />%E - enemy (team) score, red chars.<br />%d - score (team) difference.<br />%D - score (team) difference, red chars.<br />%p - your (team) position on scoreboard.<br />%z - score difference between you and enemy, unsigned. Red chars used for negative difference.<br />%z - score difference between you and enemy, unsigned. Red chars used for positive difference.</div></div>
  </div>
</div>
