<div class="cvar panel panel-default" id="cvar-ignore_mode">
  <div class="panel-heading"><div class="panel-title">ignore_mode</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Someone is on your ignore list, you won&#39;t see any messagemode (/say hello) messages from them <br />(even if they are a spec).</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Ignore say only.</td></tr>
<tr>
<td>true</td><td>Ignore say_team too.</td></tr>
</tbody>
</table>
</div>
