<div class="cvar panel panel-default" id="cvar-in_builtinkeymap">
  <div class="panel-heading"><div class="panel-title">in_builtinkeymap</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows you to use old Quake keyboard mapping</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Use your operating system keyboard layout</td></tr>
<tr>
<td>true</td><td>Use Quake keyboard layout</td></tr>
</tbody>
</table>
</div>
