<div class="cvar panel panel-default" id="cvar-in_di_buffered">
  <div class="panel-heading"><div class="panel-title">in_di_buffered</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Direct Input: Use Immedia data instead of buffered mode of reading.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This setting has been added only because Direct Input allows such mode of use. It is not going to decrease input lag, make the mouse responsiveness better, or anything like that. Read the official documentation on Direct Input to know the difference between buffered and immediate mode of use.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Use immediate data</td></tr>
<tr>
<td>true</td><td>Use events buffer to process the input data</td></tr>
</tbody>
</table>
</div>
