<div class="cvar panel panel-default" id="cvar-lookstrafe">
  <div class="panel-heading"><div class="panel-title">lookstrafe</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This variable toggles the automatic strafing when the +klook command is used.<br />When set to &quot;1&quot; and the player used the +klook command, the keys that are bound <br />to the +left and +right commands will now act as if they were bound to +moveleft <br />and +moveright. This command was put it in order to allow keyboard player to <br />combine the +strafe and +klook commands into one.<br />This command also has effect on the mouse controls. When set to &quot;1&quot; moving the <br />mouse left and right will make the player move left and right instead of making <br />him turn left and right.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
