<div class="cvar panel panel-default" id="cvar-m_accel_senscap">
  <div class="panel-heading"><div class="panel-title">m_accel_senscap</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets an upper limit on the amplified mouse movement. Great for tuning acceleration around lower velocities while still remaining in control of fast motion such as flicking.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
