<div class="cvar panel panel-default" id="cvar-match_auto_sshot">
  <div class="panel-heading"><div class="panel-title">match_auto_sshot</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Set to 1 to automatically take a screenshot of the final scoreboard when a match ends. If your console is down or you are in the menus, then the client will remove the console/menu for a split second so it can take a screenshot of the scoreboard without any interference.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not take auto screenshot.</td></tr>
<tr>
<td>true</td><td>Take auto screenshot on match end.</td></tr>
</tbody>
</table>
</div>
