<div class="cvar panel panel-default" id="cvar-match_auto_logupload">
  <div class="panel-heading"><div class="panel-title">match_auto_logupload</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Automatically upload match console log to remote server specified in match_auto_logurl.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td></td></tr>
<tr>
<td>true</td><td></td></tr>
</tbody>
</table>
</div>
