<div class="cvar panel panel-default" id="cvar-match_auto_minlength">
  <div class="panel-heading"><div class="panel-title">match_auto_minlength</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>When using &#39;match_auto_record 2&#39;, temp demo&#39;s auto recorded won&#39;t be saved automatically if they are shorter than the number of seconds match_auto_minlength&#39; is set to.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>If a temp demo is too short to autosave, you can still save it manually with &quot;match_save&quot;.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>number of seconds</td></tr>
</tbody>
</table>
</div>
