<div class="cvar panel panel-default" id="cvar-menu_ingame">
  <div class="panel-heading"><div class="panel-title">menu_ingame</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Enables/disables ingame menu - menu that typically appears if you press Esc key during the game.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>in-game menu disabled</td></tr>
<tr>
<td>true</td><td>in-game menu enabled</td></tr>
</tbody>
</table>
</div>
