<div class="cvar panel panel-default" id="cvar-menu_advanced">
  <div class="panel-heading"><div class="panel-title">menu_advanced</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Shows/hides advanced options entries in the Options menu</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Hide advanced options</td></tr>
<tr>
<td>true</td><td>Show advanced options</td></tr>
</tbody>
</table>
</div>
