<div class="cvar panel panel-default" id="cvar-mp3_scrolltitle">
  <div class="panel-heading"><div class="panel-title">mp3_scrolltitle</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggles scrolling of the song info in mp3 player control window.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not scroll song info text.</td></tr>
<tr>
<td>true</td><td>Enable song info scrolling.</td></tr>
</tbody>
</table>
</div>
