<div class="cvar panel panel-default" id="cvar-msg">
  <div class="panel-heading"><div class="panel-title">msg</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Maximum reporting of messages.</td></tr>
<tr>
<td>1</td><td>Parsed reporting of messages.</td></tr>
<tr>
<td>2</td><td>Limited reporting of messages.</td></tr>
<tr>
<td>3</td><td>Minimal reporting of messages.</td></tr>
<tr>
<td>4</td><td>No reporting of messages.</td></tr>
</tbody>
</table>
</div>
