<div class="cvar panel panel-default" id="cvar-mvd_autotrack_instant">
  <div class="panel-heading"><div class="panel-title">mvd_autotrack_instant</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Makes mvd_autotrack always find the best player and switch to him instantly.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>In KTPro autotrack tracked player is changed only when some events happen. In instant mvd_autotrack tracked player is changed everytime a better player is found.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>mvd_autotrack will work more like ktpro autotrack</td></tr>
<tr>
<td>true</td><td>player change will happen more often</td></tr>
</tbody>
</table>
</div>
