<div class="cvar panel panel-default" id="cvar-mvd_info">
  <div class="panel-heading"><div class="panel-title">mvd_info</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>When watching Multi View Demo (.mvd) you can show a table on the screen with full info about players&#39; status.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See mvd_info_setup for setting up displayed informations.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Turned OFF</td></tr>
<tr>
<td>true</td><td>Turned ON</td></tr>
</tbody>
</table>
</div>
