<div class="cvar panel panel-default" id="cvar-mvd_pc_view_1">
  <div class="panel-heading"><div class="panel-title">mvd_pc_view_1</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets the powerup camera for viewport 1</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>p1</td><td>mvd_pc_pent_1</td></tr>
<tr>
<td>p2</td><td>mvd_pc_pent_2</td></tr>
<tr>
<td>p3</td><td>mvd_pc_pent_3</td></tr>
<tr>
<td>q1</td><td>mvd_pc_quad_1</td></tr>
<tr>
<td>q2</td><td>mvd_pc_quad_2</td></tr>
<tr>
<td>q3</td><td>mvd_pc_quad_3</td></tr>
</tbody>
</table>
</div>
