<div class="cvar panel panel-default" id="cvar-mvd_powerup_cam">
  <div class="panel-heading"><div class="panel-title">mvd_powerup_cam</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Will enable powerupcams, cams will be enabled on every viewport 5 seconds before the powerup spawns.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>For setting up the viewports cams look at <br />mvd_pc_view_1-4<br />and for setting the locations of the cams look at<br />mvd_pc_quad_1-3<br />mvd_pc_pent_1-3<br /></div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Turn OFF</td></tr>
<tr>
<td>true</td><td>Turned ON</td></tr>
</tbody>
</table>
</div>
