<div class="cvar panel panel-default" id="cvar-mvd_autotrack_2on2">
  <div class="panel-heading"><div class="panel-title">mvd_autotrack_2on2</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Will be used if mvd_autotrack = 1 and a 2on2 game is played. Its an algorythm for selecting the best player.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>For a full description read the manual.</div></div>
  </div>
</div>
