<div class="cvar panel panel-default" id="cvar-mvd_autotrack_lockteam">
  <div class="panel-heading"><div class="panel-title">mvd_autotrack_lockteam</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>If set to 1, autotrack will keep switching POVs only from players within the same team.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Autotrack will switch between all players.</td></tr>
<tr>
<td>true</td><td>Autotrack will stay within one team.</td></tr>
</tbody>
</table>
</div>
