<div class="cvar panel panel-default" id="cvar-pm_bunnyspeedcap">
  <div class="panel-heading"><div class="panel-title">pm_bunnyspeedcap</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This is experimental code intended to restore class balance in TF. If you set <br />this cvar to something like 1.5 or 2, a solider will not be able to bunnyhop as <br />fast as a scout does :) Note that this cvar is optional and disabled by default, <br />so it will in NO WAY affect gameplay unless you set it explicitly to anything <br />but 0.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
