<div class="cvar panel panel-default" id="cvar-pm_pground">
  <div class="panel-heading"><div class="panel-title">pm_pground</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Enables &#39;persistent onground flag&#39; physics tweak.  Its only use is that it makes pm_airstep work better.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This extension makes use of Z_EXT_PF_ONGROUND to ensure correct movement prediction by clients. Prediction errors shouldn&#39;t be very noticeable anyway even with old clients.</div></div>
  </div>
</div>
