<div class="cvar panel panel-default" id="cvar-qtv_adjustminspeed">
  <div class="panel-heading"><div class="panel-title">qtv_adjustminspeed</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>The slowest possible playback speed when QTV buffer adjusting takes action. The slower the speed is, the faster the QTV buffer will fill up.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Not allowing to slow down enough, buffer level might still drop down to zero if there were longer network lag. This causes pausing during playback. Allowing to slow down too much is noticeable.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>0.5 means 50% of the normal playback speed</td></tr>
</tbody>
</table>
</div>
