<div class="cvar panel panel-default" id="cvar-qtv_adjustmaxspeed">
  <div class="panel-heading"><div class="panel-title">qtv_adjustmaxspeed</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>The fastest possible playback speed when QTV buffer becomes excessive and auto-adjusting starts. The higher the speed is, the faster the QTV buffer length will go down to normal levels.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Works in conjunction with qtv_adjustbuffer 1</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Only values above 1.0 make sense</td></tr>
</tbody>
</table>
</div>
