<div class="cvar panel panel-default" id="cvar-qtv_buffertime">
  <div class="panel-heading"><div class="panel-title">qtv_buffertime</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Defines how much the client buffers from the QTV stream</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This determines the &quot;delay&quot; you will get from what is actually happening. For example if you want to synchronize shoutcast commentary with the QTV stream, this is the variable you need to change.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>in seconds, values below 0.2 are treated as 0.2</td></tr>
</tbody>
</table>
</div>
