<div class="cvar panel panel-default" id="cvar-qtv_adjustbuffer">
  <div class="panel-heading"><div class="panel-title">qtv_adjustbuffer</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Enables balancing of the buffer length of the QTV stream. When turned on, the size of the stream buffer (the delay from the actual action) will be auto-adjusted (by changing the playback speed when necessary) so that it stays on the same level most of the time.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>When turned on, the speed of the playback may change sometimes - that&#39;s how the buffer lenght is balanced. But usually you want to have this turned on when you are watching a shoutcast-commentated game because you want to stay synchronized with the commentary.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not adjust buffer size, always play at 100% speed</td></tr>
<tr>
<td>true</td><td>Auto-adjust buffer size</td></tr>
</tbody>
</table>
</div>
