<div class="cvar panel panel-default" id="cvar-qtv_say_team">
  <div class="panel-heading"><div class="panel-title">qtv_say_team</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>say_team will be blocked when sending to QTV</td></tr>
<tr>
<td>true</td><td>say_team allowed as normal on QTV</td></tr>
</tbody>
</table>
</div>
