<div class="cvar panel panel-default" id="cvar-r_drawentities">
  <div class="panel-heading"><div class="panel-title">r_drawentities</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This variable can be used to disable that any object entities are drawn. This <br />command is useful to map authors who wish to take a look at their map without <br />drawing any objects such as lifts, buttons, platforms or items.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Display no entities.</td></tr>
<tr>
<td>true</td><td>Display all entities.</td></tr>
</tbody>
</table>
</div>
