<div class="cvar panel panel-default" id="cvar-r_drawviewmodel">
  <div class="panel-heading"><div class="panel-title">r_drawviewmodel</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Controls transparency level of the currently-held weapon.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Example: 0.5 = 50% transparency.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Fully transparent.</td></tr>
<tr>
<td>1</td><td>Fully opaque.</td></tr>
</tbody>
</table>
</div>
