<div class="cvar panel panel-default" id="cvar-r_drawvweps">
  <div class="panel-heading"><div class="panel-title">r_drawvweps</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Whether to draw vweps (other players&#39; weapon models).</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>In order for vweps to work, you must have the appropriate models (vwplayer.mdl and w_*.mdl), and the server you&#39;re playing on must have vwep support enabled.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td></td></tr>
<tr>
<td>true</td><td></td></tr>
</tbody>
</table>
</div>
