<div class="cvar panel panel-default" id="cvar-r_draworder">
  <div class="panel-heading"><div class="panel-title">r_draworder</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows you to see through object - for development purposes only.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Not allowed in multiplayer. See &#39;developer 1&#39; too.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Standard behaviour - first draws object far from you then closer to you.</td></tr>
<tr>
<td>true</td><td>First draws closest object, then the more distanced ones.</td></tr>
</tbody>
</table>
</div>
