<div class="cvar panel panel-default" id="cvar-r_dspeeds">
  <div class="panel-heading"><div class="panel-title">r_dspeeds</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not display renderer speed statistics.</td></tr>
<tr>
<td>true</td><td>Display renderer speed statistics.</td></tr>
</tbody>
</table>
</div>
