<div class="cvar panel panel-default" id="cvar-r_enemyskincolor">
  <div class="panel-heading"><div class="panel-title">r_enemyskincolor</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows you to set color for enemies you see in RGB format</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See r_skincolormode for more info</div></div>
  </div>
</div>
