<div class="cvar panel panel-default" id="cvar-r_fastsky">
  <div class="panel-heading"><div class="panel-title">r_fastsky</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable fastsky.</td></tr>
<tr>
<td>true</td><td>Enable fastsky, helps fps a bit on maps with large sky areas.</td></tr>
</tbody>
</table>
</div>
