<div class="cvar panel panel-default" id="cvar-r_farclip">
  <div class="panel-heading"><div class="panel-title">r_farclip</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Can be used to overcome vision being limited to 4096 units in GL clients (good for xpress2 etc).</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See also: r_nearclip</div></div>
  </div>
</div>
