<div class="cvar panel panel-default" id="cvar-r_flagcolor">
  <div class="panel-heading"><div class="panel-title">r_flagColor</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Normal</td></tr>
<tr>
<td>1</td><td>Red</td></tr>
<tr>
<td>2</td><td>Blue</td></tr>
<tr>
<td>3</td><td>Purple</td></tr>
<tr>
<td>4</td><td>Green</td></tr>
<tr>
<td>5</td><td>White</td></tr>
</tbody>
</table>
</div>
