<div class="cvar panel panel-default" id="cvar-r_fullbrightskins">
  <div class="panel-heading"><div class="panel-title">r_fullbrightSkins</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines the fullbright percentage of skins. Fullbright skins can always be used during demo playback. <br />The f_skins response will indicate the brightness level being used as a percentage.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Being 0% fullbright.</td></tr>
<tr>
<td>0.5</td><td>Being 50% fullbright.</td></tr>
<tr>
<td>1</td><td>Being 100% fullbright.</td></tr>
</tbody>
</table>
</div>
