<div class="cvar panel panel-default" id="cvar-r_netstats">
  <div class="panel-heading"><div class="panel-title">r_netstats</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Shows information about ping, packetloss, average packet size and incoming/outgoing traffic. Equivalent with &#39;net&#39; HUD element.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not draw network statistics.</td></tr>
<tr>
<td>true</td><td>Draw network statistics.</td></tr>
</tbody>
</table>
</div>
