<div class="cvar panel panel-default" id="cvar-r_netgraph">
  <div class="panel-heading"><div class="panel-title">r_netgraph</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Setting r_netgraph 1 is a diagnostic tool to help you tweak your rate. If you find that you suffer from short pauses in the game and you see red spikes in your netgraph, you should try setting the rate down a bit.<br />The height of the pink lines towards the bottom is your latency on received packets.<br />Red lines are lost packets. (bad)<br />Yellow lines are from the rate command kicking in, it&#39;s data that wasn&#39;t sent to you because you didn&#39;t have the bandwidth for it. (OK)<br />Blue lines are very bad, they invalid delta&#39;s, and are related to the U_REMOVE warnings.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>If during your play, you frequently see a string of messages with the term &quot;U_REMOVE&quot; in them, and your play seems to freeze for serveral seconds, use the console command cl_nodelta 1. This is a slightly less efficient way for QuakeWorld to work, but if your ISP is overloaded or has some configuration problems, it may not pass packets to QuakeWorld properly and cause difficulty.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not display the netgraph.</td></tr>
<tr>
<td>true</td><td>Display the netgraph.</td></tr>
</tbody>
</table>
</div>
