<div class="cvar panel panel-default" id="cvar-r_rocketlightcolor">
  <div class="panel-heading"><div class="panel-title">r_rocketLightColor</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines the colour of the rocket light.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Normal</td></tr>
<tr>
<td>1</td><td>Red</td></tr>
<tr>
<td>2</td><td>Blue</td></tr>
<tr>
<td>3</td><td>Purple</td></tr>
<tr>
<td>4</td><td>Green</td></tr>
<tr>
<td>5</td><td>Yellow</td></tr>
<tr>
<td>6</td><td>Cyan</td></tr>
<tr>
<td>7</td><td>White</td></tr>
</tbody>
</table>
</div>
