<div class="cvar panel panel-default" id="cvar-r_rockettrail">
  <div class="panel-heading"><div class="panel-title">r_rocketTrail</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Customizable rocket trails.<br /></div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>No rocket trail.</td></tr>
<tr>
<td>1</td><td>Normal (rocket) trail.</td></tr>
<tr>
<td>2</td><td>Smoke (grenade) trail.</td></tr>
<tr>
<td>3</td><td>Alternative normal trail.</td></tr>
<tr>
<td>4</td><td>Slight blood trail.</td></tr>
<tr>
<td>5</td><td>Big blood trail.</td></tr>
<tr>
<td>6</td><td>Green Tracer trail.</td></tr>
<tr>
<td>7</td><td>Orange/Yellow Tracer trail.</td></tr>
<tr>
<td>8</td><td>Blue/White Plasma trail.</td></tr>
<tr>
<td>9</td><td>Lavaball trail.</td></tr>
<tr>
<td>10</td><td>Green Fuel Rod Gun trail.</td></tr>
<tr>
<td>11</td><td>Orange/Yellow Plasma Rocket Mk II trail.</td></tr>
<tr>
<td>12</td><td>Similar to 3, but with a white line and less smoke.</td></tr>
<tr>
<td>13</td><td>Motion trail rocket. Need gl_motiontrails 1.</td></tr>
</tbody>
</table>
</div>
