<div class="cvar panel panel-default" id="cvar-r_skincolormodedead">
  <div class="panel-heading"><div class="panel-title">r_skincolormodedead</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets r_skincolormode for players upon death.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See r_skincolormode for valid values</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>-1</td><td>Do not change r_skincolormode when player dies.</td></tr>
</tbody>
</table>
</div>
