<div class="cvar panel panel-default" id="cvar-r_speeds">
  <div class="panel-heading"><div class="panel-title">r_speeds</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggles the displaying of drawing time and stats of what is<br />currently being viewed.<br />Example:<br />32.7 ms 267/196/ 74 poly   3 surf<br />38.6 ms 267/196/ 74 poly  20 surf<br />60.4 ms 267/196/ 74 poly  18 surf<br />38.2 ms 267/196/ 73 poly  18 surf</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
