<div class="cvar panel panel-default" id="cvar-r_tracker_string_died">
  <div class="panel-heading"><div class="panel-title">r_tracker_string_died</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Text appearing in the tracker when a player dies (typically lava, slime, drowning etc)</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Relates to PLAYER_DEATH rules in fragfile.dat</div></div>
  </div>
</div>
