<div class="cvar panel panel-default" id="cvar-r_tracker_streaks">
  <div class="panel-heading"><div class="panel-title">r_tracker_streaks</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Everytime a player makes a set number of consecutive kills, it will display a message showing they are on a streak, when the player is killed, it will display the name of the person who ended that streak.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
