<div class="cvar panel panel-default" id="cvar-r_tracker_scale">
  <div class="panel-heading"><div class="panel-title">r_tracker_scale</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows you to change the font size in the extra frag messages.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See other r_tracker_* variables.</div></div>
  </div>
</div>
