<div class="cvar panel panel-default" id="cvar-r_tracker_flags">
  <div class="panel-heading"><div class="panel-title">r_tracker_flags</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Everytime you take, capture or drop a flag, the number of times is displayed on the screen.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See r_tracker_*, cl_parseFrags and cl_loadFragFiles variables description for further info.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td></td></tr>
<tr>
<td>true</td><td></td></tr>
</tbody>
</table>
</div>
