<div class="cvar panel panel-default" id="cvar-r_tracker_name_remove_prefixes">
  <div class="panel-heading"><div class="panel-title">r_tracker_name_remove_prefixes</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Space-separated list of prefixes to remove from player names before displaying in the tracker</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Useful if one team has clan prefixes that stop the names appearing fully</div></div>
  </div>
</div>
