<div class="cvar panel panel-default" id="cvar-r_tracker_inconsole">
  <div class="panel-heading"><div class="panel-title">r_tracker_inconsole</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Controls how tracker messages will appear in the console/notify area</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>To see full death messages in the console, use con_fragmessages 2</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Tracker messages will not be shown in the console</td></tr>
<tr>
<td>1</td><td>Tracker messages will be shown in console and notify area (disables regular tracker messages)</td></tr>
<tr>
<td>2</td><td>Tracker messages will be shown in console and notify area (regular tracker messages enabled)</td></tr>
<tr>
<td>3</td><td>Tracker messages will be shown in console and regular tracker area but not in notify area</td></tr>
</tbody>
</table>
</div>
