<div class="cvar panel panel-default" id="cvar-r_tracker_messages">
  <div class="panel-heading"><div class="panel-title">r_tracker_messages</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Maximum number of custom frag messages to be displayed in extra frag messages window.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See other r_tracker_*, cl_parseFrags and cl_loadFragFiles variables description for further info.</div></div>
  </div>
</div>
