<div class="cvar panel panel-default" id="cvar-r_viewpreselgun">
  <div class="panel-heading"><div class="panel-title">r_viewpreselgun</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Will show a gun that was picked as the best by weapon pre-selection.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See cl_weaponpreselect and cl_weaponhide.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Display the weapon you really hold</td></tr>
<tr>
<td>true</td><td>Disaply the current pre-selected weapon</td></tr>
</tbody>
</table>
</div>
