<div class="cvar panel panel-default" id="cvar-r_viewmodeloffset">
  <div class="panel-heading"><div class="panel-title">r_viewmodeloffset</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Moves the gun model to the right (positive value) or to the left (negative value). Good for people who like to see right/left-handed looking weapons.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>You can also change Y and Z coordinates, just provide parameters in &quot;X Y Z&quot; format.<br />See also r_shiftbeam variable.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>-10 to 10</td></tr>
</tbody>
</table>
</div>
