<div class="cvar panel panel-default" id="cvar-railcolor">
  <div class="panel-heading"><div class="panel-title">railcolor</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Player&#39;s rail color</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Possible values are: 1 - 7.  Sent to server, requires mod support</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>White</td></tr>
<tr>
<td>1</td><td>Blue</td></tr>
<tr>
<td>2</td><td>Green</td></tr>
<tr>
<td>3</td><td>Light Blue</td></tr>
<tr>
<td>4</td><td>Red</td></tr>
<tr>
<td>5</td><td>Magenta</td></tr>
<tr>
<td>6</td><td>Yellow</td></tr>
<tr>
<td>7</td><td>White</td></tr>
</tbody>
</table>
</div>
