<div class="cvar panel panel-default" id="cvar-s_alsa_noworkaround">
  <div class="panel-heading"><div class="panel-title">s_alsa_noworkaround</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>If you are having problems with ALSA you can try to set this var to 1 before you try legacy drivers.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Linux/FreeBSD only.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Workaround enabled.</td></tr>
<tr>
<td>1</td><td>Workaround disabled. Try this if you are having problems with new ALSA driver.</td></tr>
</tbody>
</table>
</div>
