<div class="cvar panel panel-default" id="cvar-s_bits">
  <div class="panel-heading"><div class="panel-title">s_bits</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This defines how many sampling bits should be used, when using 16 bits the interpolation quality will be better.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Linux only.<br />Use s_restart after you change it.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>16</td><td>16 bit sound</td></tr>
<tr>
<td>8</td><td>8 bit sound</td></tr>
</tbody>
</table>
</div>
