<div class="cvar panel panel-default" id="cvar-s_desiredsamples">
  <div class="panel-heading"><div class="panel-title">s_desiredsamples</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Indicates how large the audio buffer should be, in samples.  If 0, ezQuake will choose a sensible default, based on value of s_khz</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This is a suggestion only, the driver is free to choose a different value.  Smaller buffer sizes generally result in lower latency, but higher CPU usage.</div></div>
  </div>
</div>
