<div class="cvar panel panel-default" id="cvar-s_device">
  <div class="panel-heading"><div class="panel-title">s_device</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows you to choose from multiple sound devices.<br /></div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Linux only.<br />Use snd_restart after you change it.<br /><br />For OSS you should use &quot;/dev/dsp&quot;, &quot;/dev/dsp0&quot;, &quot;/dev/dsp1&quot;, etc<br />For ALSA use &quot;default&quot;, &quot;dmix&quot;, etc</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>device name</td></tr>
</tbody>
</table>
</div>
