<div class="cvar panel panel-default" id="cvar-s_driver">
  <div class="panel-heading"><div class="panel-title">s_driver</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Specifices which sounddriver to use: ALSA/OSS or experimental Pulseaudio.<br /></div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>alsa</td><td>Will use ALSA drivers</td></tr>
<tr>
<td>oss</td><td>Will use OSS drivers</td></tr>
<tr>
<td>pulse</td><td>Will use experimental Pulseaudio drivers (note: have to be set in all loading configs before starting ezQuake to work!)</td></tr>
</tbody>
</table>
</div>
