<div class="cvar panel panel-default" id="cvar-s_loadas8bit">
  <div class="panel-heading"><div class="panel-title">s_loadas8bit</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This will give a little performance boost when playing the game at the cost of <br />quality for the sound samples.)</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Off.</td></tr>
<tr>
<td>true</td><td>On (The sound samples will be loaded in 8-bit mode thus making them a little smaller.</td></tr>
</tbody>
</table>
</div>
