<div class="cvar panel panel-default" id="cvar-s_mixahead">
  <div class="panel-heading"><div class="panel-title">s_mixahead</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Only affects OSS and legacy ALSA:<br /><br />This variable defines the delay time for sounds. How low you can set your sound<br />mixahead depends on your FPS, when you set it too low, your sound will start <br />crackling. Generally, with 72 FPS you should be able to use a delay of 0.06 seconds.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
