<div class="cvar panel panel-default" id="cvar-s_uselegacydrivers">
  <div class="panel-heading"><div class="panel-title">s_uselegacydrivers</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>If you are having problems with the new ALSA/OSS drivers you can enable this to be able to use legacy sound drivers, as in the ones used before v2.1.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Linux/FreeBSD only.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Will use new sound drivers for ALSA/OSS</td></tr>
<tr>
<td>1</td><td>Will use legacy drivers for ALSA/OSS (as used in versions before 2.1)</td></tr>
</tbody>
</table>
</div>
