<div class="cvar panel panel-default" id="cvar-sb_autohide">
  <div class="panel-heading"><div class="panel-title">sb_autohide</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This toggles in which cases the server browser should automatically hide itself <br />when connecting to a server.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Never hide server browser</td></tr>
<tr>
<td>1</td><td>This will cause the server browser to always hide after connecting</td></tr>
<tr>
<td>2</td><td>This will cause the server browser to hide after connecting only, if the     connected server is not a qizmo proxy, useful if you often connect to Qizmos<br />    only for rerouting features (with &quot;useproxy 1&quot;)</td></tr>
</tbody>
</table>
</div>
