<div class="cvar panel panel-default" id="cvar-sb_findroutes">
  <div class="panel-heading"><div class="panel-title">sb_findroutes</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Enables automatic lookup of lowest ping path via proxies for connection to each server in the server browser.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Use with connectbr command.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Lookup disabled</td></tr>
<tr>
<td>true</td><td>Lookup will start after the &quot;getting infos&quot; phase.</td></tr>
</tbody>
</table>
</div>
