<div class="cvar panel panel-default" id="cvar-sb_hidedead">
  <div class="panel-heading"><div class="panel-title">sb_hidedead</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This toggles whether ezQuake should hide dead servers.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>don&#39;t hide dead servers</td></tr>
<tr>
<td>true</td><td>hide dead servers</td></tr>
</tbody>
</table>
</div>
