<div class="cvar panel panel-default" id="cvar-sb_pingspersec">
  <div class="panel-heading"><div class="panel-title">sb_pingspersec</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This determines how many pings per second ezQuake should sent out when scanning<br />servers. If you set this value too high the result will be that the pings will <br />not be accurate because you overloaded your line. If you set it too low scanning <br />servers will take very long especially when you have a large server list.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
