<div class="cvar panel panel-default" id="cvar-sb_showproxies">
  <div class="panel-heading"><div class="panel-title">sb_showproxies</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Toggle display of proxy servers (QWFwd and Qizmo) in the Server Browser.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Hide proxies in the server browser</td></tr>
<tr>
<td>1</td><td>Show proxies in the server browser</td></tr>
<tr>
<td>2</td><td>Only show proxies in the server browser</td></tr>
</tbody>
</table>
</div>
