<div class="cvar panel panel-default" id="cvar-scr_conback">
  <div class="panel-heading"><div class="panel-title">scr_conback</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows display of map preview as a console background</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Never display map preview.</td></tr>
<tr>
<td>1</td><td>Display map preview on level loading process.</td></tr>
<tr>
<td>2</td><td>Always display map preview as a console background.</td></tr>
</tbody>
</table>
</div>
