<div class="cvar panel panel-default" id="cvar-scr_compacthudalign">
  <div class="panel-heading"><div class="panel-title">scr_compactHudAlign</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>determine ammo amounts are aligned to the left.</td></tr>
<tr>
<td>true</td><td>determine ammo amounts are aligned to the right.</td></tr>
</tbody>
</table>
</div>
