<div class="cvar panel panel-default" id="cvar-scr_notifyalways">
  <div class="panel-heading"><div class="panel-title">scr_notifyalways</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>The notify area is hidden during intermission (chat messages go to console but not to screen)</td></tr>
<tr>
<td>true</td><td>The notify area is always shown</td></tr>
</tbody>
</table>
</div>
