<div class="cvar panel panel-default" id="cvar-scr_autoid_drawname">
  <div class="panel-heading"><div class="panel-title">scr_autoid_drawname</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Controls if the player name should be drawn when using scr_autoid &gt;0.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Player name is not drawn above player when scr_autoid &gt;0</td></tr>
<tr>
<td>true</td><td>Player name is drawn above player when scr_autoid &gt;0</td></tr>
</tbody>
</table>
</div>
