<div class="cvar panel panel-default" id="cvar-scr_coloredfrags">
  <div class="panel-heading"><div class="panel-title">scr_coloredfrags</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Frag messages will be colored according to your teamcolor/enemycolor settings.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Needs scr_coloredText 1, cl_parsefrags 1, cl_loadfragfiles 1.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Coloring off</td></tr>
<tr>
<td>true</td><td>Coloring on</td></tr>
</tbody>
</table>
</div>
