<div class="cvar panel panel-default" id="cvar-scr_centershift">
  <div class="panel-heading"><div class="panel-title">scr_centershift</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Shifts all centerprints. If you are playing in 1280x1024 and want to watch some demo recorded in 320x200 with +wp_stats (ktpro) or sbar_on (teamfortress) you can shift that text down.</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Values from -999 to 999 are possible.</td></tr>
</tbody>
</table>
</div>
