<div class="cvar panel panel-default" id="cvar-scr_teaminfo_low_health">
  <div class="panel-heading"><div class="panel-title">scr_teaminfo_low_health</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets a minimum health value to display red. E.g. if scr_teaminfo_low_health is 20, and a teammate has 20 health or less, then their health will be displayed red.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>From 1-99</td></tr>
</tbody>
</table>
</div>
