<div class="cvar panel panel-default" id="cvar-scr_compacthud">
  <div class="panel-heading"><div class="panel-title">scr_compactHud</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Compact huds off.</td></tr>
<tr>
<td>1</td><td>Will display armour/health/ammo/weapons *very* compactly.</td></tr>
<tr>
<td>2</td><td>Will display armour/health/ammo *very* compactly.</td></tr>
<tr>
<td>3</td><td>Displays only health/armour.</td></tr>
<tr>
<td>4</td><td>Is just like &quot;2&quot; except it also displays your current weapon&#39;s ammo in big numbers.</td></tr>
</tbody>
</table>
</div>
