<div class="cvar panel panel-default" id="cvar-scr_scoreboard_afk_style">
  <div class="panel-heading"><div class="panel-title">scr_scoreboard_afk_style</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>1</td><td>If user is AFK, time replaced with AFK</td></tr>
<tr>
<td>2</td><td>If user is AFK, time value shown in red</td></tr>
</tbody>
</table>
</div>
