<div class="cvar panel panel-default" id="cvar-scr_drawvfrags">
  <div class="panel-heading"><div class="panel-title">scr_drawVFrags</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Shows vertical row with frag stats on the right side of the old hud. When teamplay mode is on, will display also frags per team.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Note: vid_conwidth must be at least 512, scr_centerSbar must be disabled; works only in deathmatch, not in cooperative</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Turns frag display off.</td></tr>
<tr>
<td>1</td><td>Individual frags.</td></tr>
<tr>
<td>2</td><td>Teamfrags in teamplay mode.</td></tr>
</tbody>
</table>
</div>
