<div class="cvar panel panel-default" id="cvar-scr_scoreboard_drawfps">
  <div class="panel-heading"><div class="panel-title">scr_scoreboard_drawfps</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Substitutes the &quot;time&quot; column with a &quot;FPS&quot; in scores showing how much FPS each player has.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Keep time in scoreboard</td></tr>
<tr>
<td>true</td><td>Replace time with FPS in scoreboard</td></tr>
</tbody>
</table>
</div>
