<div class="cvar panel panel-default" id="cvar-scr_teaminfo_order">
  <div class="panel-heading"><div class="panel-title">scr_teaminfo_order</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Changes the order of displayed items in scr_teaminfo</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>default: &quot;%p%n [%l] %h/%a %w&quot;</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>Options: %p (powerup) %n (name) %h (health) %a (armor) %l (location) %w (weapon)</td></tr>
</tbody>
</table>
</div>
