<div class="cvar panel panel-default" id="cvar-scr_coloredtext">
  <div class="panel-heading"><div class="panel-title">scr_coloredText</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows colored text in scoreboard, console and notify area.<br />scr_coloredText</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See Colored text manual page for more details.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Disable rainbow spectator text on the scoreboard.</td></tr>
<tr>
<td>1</td><td>Enable rainbow spectator text on the scoreboard.</td></tr>
<tr>
<td>2</td><td>Enable rainbow spectator text on the scoreboard plus parse colored console messages.</td></tr>
</tbody>
</table>
</div>
