<div class="cvar panel panel-default" id="cvar-scr_teaminfo_scale">
  <div class="panel-heading"><div class="panel-title">scr_teaminfo_scale</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Scales scr_teaminfo.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>From 0 (very small) to 10 (very big)</td></tr>
</tbody>
</table>
</div>
