<div class="cvar panel panel-default" id="cvar-scr_weaponstats_align_right">
  <div class="panel-heading"><div class="panel-title">scr_weaponstats_align_right</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Displays weapon stats on the left hand side of the screen</td></tr>
<tr>
<td>true</td><td>Displays weapon stats on the right hand side of the screen</td></tr>
</tbody>
</table>
</div>
