<div class="cvar panel panel-default" id="cvar-scr_teaminfo_show_enemies">
  <div class="panel-heading"><div class="panel-title">scr_teaminfo_show_enemies</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Will show enemy players in the teaminfo table.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Works only for MVD playback (servers do not send info about enemies to you anyway).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Do not show enemy players status</td></tr>
<tr>
<td>true</td><td>Show enemy players status in teaminfo table</td></tr>
</tbody>
</table>
</div>
