<div class="cvar panel panel-default" id="cvar-scr_teaminfo_name_width">
  <div class="panel-heading"><div class="panel-title">scr_teaminfo_name_width</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets name width in scr_teaminfo</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>From 0 (don&#39;t display name) to 20</td></tr>
</tbody>
</table>
</div>
