<div class="cvar panel panel-default" id="cvar-show_velocity_3d">
  <div class="panel-heading"><div class="panel-title">show_velocity_3d</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Shows your velocity as 3d vector and its projections (*GL ONLY*).<br /></div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>See also show_velocity_3d_offset_forward, show_velocity_3d_offset_down.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>off (default)</td></tr>
<tr>
<td>1</td><td>velocity and projections</td></tr>
<tr>
<td>2</td><td>only horizontal velocity and projections</td></tr>
</tbody>
</table>
</div>
