<div class="cvar panel panel-default" id="cvar-showram">
  <div class="panel-heading"><div class="panel-title">showram</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Never display the ram icon</td></tr>
<tr>
<td>true</td><td>Display the ram icon when running out of memory</td></tr>
</tbody>
</table>
</div>
