<div class="cvar panel panel-default" id="cvar-sv_downloadchunksperframe">
  <div class="panel-heading"><div class="panel-title">sv_downloadchunksperframe</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Limits the speed of the chunked downloads</div></div>
    <div class="doc-row type"><div>Type:</div><div></div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Server-side. Clients can set high amount of chunks per frame allowed and make your data eat connection traffic rapidly. Use this variable to prevent this.</div></div>
  </div>
</div>
