<div class="cvar panel panel-default" id="cvar-sv_nailhack">
  <div class="panel-heading"><div class="panel-title">sv_nailhack</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>smoother and point in the right direction.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable.</td></tr>
<tr>
<td>true</td><td>Allows nails in most cases to uses less bandwidth and to fly around</td></tr>
</tbody>
</table>
</div>
