<div class="cvar panel panel-default" id="cvar-sys_disablewinkeys">
  <div class="panel-heading"><div class="panel-title">sys_disableWinKeys</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Note: Windows keys are now bindable (LWINKEY, RWINKEY, WINKEY, POPUPMENU). Obviously only useful on NT/2K/XP with sys_disableWinKeys 1 (and possibely useful in Linux too!).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Enable.</td></tr>
<tr>
<td>true</td><td>Disable winkeys from alt-tabbing you (only works in NT/2K/XP, and only when the client is in focus).</td></tr>
</tbody>
</table>
</div>
