<div class="cvar panel panel-default" id="cvar-sys_inactivesleep">
  <div class="panel-heading"><div class="panel-title">sys_inactivesleep</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Prevent freeing of CPU when the client is minimized or not in focus.</td></tr>
<tr>
<td>true</td><td>Enable inactive sleeping.</td></tr>
</tbody>
</table>
</div>
