<div class="cvar panel panel-default" id="cvar-teamplay">
  <div class="panel-heading"><div class="panel-title">teamplay</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Teamplay mode</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Nowadays only value 2 is used; value 1 prevents you from killing your teammates including yourself</div></div>
  </div>
</div>
