<div class="cvar panel panel-default" id="cvar-teamforceskins">
  <div class="panel-heading"><div class="panel-title">teamforceskins</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Allows you to set different skin for every team player even if they all have same skin names set or use names of skins that you do not have in your Quake dir</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Read &quot;Player skins&quot; manual page for more info on skin rules.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>0</td><td>Disabled</td></tr>
<tr>
<td>1</td><td>Use player&#39;s name as the name of the skin to be used</td></tr>
<tr>
<td>2</td><td>Use player&#39;s userid number (only useful for video capturing)</td></tr>
<tr>
<td>3</td><td>Assign skins &quot;t1&quot;, &quot;t2&quot;, &quot;t3&quot;, etc. to your teammates.</td></tr>
</tbody>
</table>
</div>
