<div class="cvar panel panel-default" id="cvar-teamtopcolor">
  <div class="panel-heading"><div class="panel-title">teamtopcolor</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines the color of the shirt of the teammates you see. Overrides player&#39;s skin settings.</div></div>
    <div class="doc-row type"><div>Type:</div><div>enum</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>To be able to use RGB 24bit colors, look for r_teamskincolor variable.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>-1</td><td>Disabled</td></tr>
<tr>
<td>0</td><td>White</td></tr>
<tr>
<td>1</td><td>Brown</td></tr>
<tr>
<td>2</td><td>Lavender</td></tr>
<tr>
<td>3</td><td>Khaki</td></tr>
<tr>
<td>4</td><td>Red</td></tr>
<tr>
<td>5</td><td>Lt Brown</td></tr>
<tr>
<td>6</td><td>Peach</td></tr>
<tr>
<td>7</td><td>Lt Peach</td></tr>
<tr>
<td>8</td><td>Purple</td></tr>
<tr>
<td>9</td><td>Dk Purple</td></tr>
<tr>
<td>10</td><td>Tan</td></tr>
<tr>
<td>11</td><td>Green</td></tr>
<tr>
<td>12</td><td>Yellow</td></tr>
<tr>
<td>13</td><td>Blue</td></tr>
</tbody>
</table>
</div>
