<div class="cvar panel panel-default" id="cvar-tp_name_sentry">
  <div class="panel-heading"><div class="panel-title">tp_name_sentry</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Sets the name for sentry tower in teamplay messages.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>common values are &#39;sentry&#39; or &#39;sentry gun&#39;.</td></tr>
</tbody>
</table>
</div>
