<div class="cvar panel panel-default" id="cvar-v_centerspeed">
  <div class="panel-heading"><div class="panel-title">v_centerspeed</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This variable sets how quickly your view returns to the center after looking up<br />or down and moving after that and &quot;lookspring&quot; is set to &quot;1&quot;. This variable is <br />only useful to people who only play with the keyboard, have &quot;lookspring&quot; set to<br />&quot;1&quot; and do not have &quot;+klook&quot; or &quot;+mlook&quot; enabled at that time. When the player <br />moves the distance specified in this variable the screen will pop back to the <br />center position.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
  </div>
</div>
