<div class="cvar panel panel-default" id="cvar-v_contentblend">
  <div class="panel-heading"><div class="panel-title">v_contentblend</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Turning this variable on will temporarily change the hue of your screen when inside liquid (water/slime/lava) (requires gl_polyblend 1)</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Specify a percentage value, between 0 and 1.  0 turns the effect off.</div></div>
  </div>
</div>
