<div class="cvar panel panel-default" id="cvar-v_kickroll">
  <div class="panel-heading"><div class="panel-title">v_kickroll</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>This variable controls the distance that the screen should roll clockwise or <br />counter clockwise when the player is shot. Most players set this variable to &quot;0&quot;<br />in order to remove the screen tilting effect when they are injured by a shot. <br />This allows them to keep a perfect aim while being fired upon.</div></div>
    <div class="doc-row type"><div>Type:</div><div>float</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>v_kicktime must be &gt;0 for this to take effect.</div></div>
  </div>
</div>
