<div class="cvar panel panel-default" id="cvar-vid_24bit_depth">
  <div class="panel-heading"><div class="panel-title">vid_24bit_depth</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Visual artifacts may be visible if using a 16-bit depth-buffer (e.g. entities disappearing at distance)</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Size of depth-buffer will be system default</td></tr>
<tr>
<td>true</td><td>Request 24-bit depth-buffer</td></tr>
</tbody>
</table>
</div>
