<div class="cvar panel panel-default" id="cvar-vid_height">
  <div class="panel-heading"><div class="panel-title">vid_height</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Determines width of screen resolution when in fullscreen mode</div></div>
    <div class="doc-row type"><div>Type:</div><div>integer</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>This value is ignored if vid_usedesktopres is set.</div></div>
  </div>
</div>
