<div class="cvar panel panel-default" id="cvar-vid_vsync">
  <div class="panel-heading"><div class="panel-title">vid_vsync</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Syncs your FPS with your monitor&#39;s vertical refresh rate. This will override cl_maxfps.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable vsync.</td></tr>
<tr>
<td>true</td><td>Enable vsync.</td></tr>
</tbody>
</table>
</div>
