<div class="cvar panel panel-default" id="cvar-vid_vsync_lag_fix">
  <div class="panel-heading"><div class="panel-title">vid_vsync_lag_fix</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Enables experimental fix for a delay vertical synchronization mode</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>When vid_vsync is set to 1, an artificial delay in the input can appear, enabling this should eliminate the delay</div></div>
  </div>
</div>
