<div class="cvar panel panel-default" id="cvar-vid_wideaspect">
  <div class="panel-heading"><div class="panel-title">vid_wideaspect</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Recalculates screen proportions so that they suit wide-screen displays. If you toggle this variable from 0 to 1, it will recalculate your field of view (fov) and screen proportions (conwidth/conheight ratio) so that the resulting image looks similar on a 16:10 screen as it did on 4:3 screen.</div></div>
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>The effect of the variable is only changing values of &quot;fov&quot; and &quot;vid_conheight&quot; variables when you toggle the value of this variable. The algorithm used to get resulting values is described in the QuakeWorld wiki.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Keep the settings suitable for 4:3 screen.</td></tr>
<tr>
<td>true</td><td>Recalculate proportions to match 16:10 screens.</td></tr>
</tbody>
</table>
</div>
