<div class="cvar panel panel-default" id="cvar-vid_conaspect">
  <div class="panel-heading"><div class="panel-title">vid_conaspect</div></div>
  <div class="panel-body">
    <div class="doc-row description"><div>Description:</div><div>Keep the screen proportions to given aspect ratio.</div></div>
    <div class="doc-row type"><div>Type:</div><div>string</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>Always changes vid_conheight when you change vid_conwidth.</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td></td><td>4:3 or 16:9 or 16:10 etc.</td></tr>
</tbody>
</table>
</div>
