<div class="cvar panel panel-default" id="cvar-vid_resetonswitch">
  <div class="panel-heading"><div class="panel-title">vid_resetonswitch</div></div>
  <div class="panel-body">
    <div class="doc-row type"><div>Type:</div><div>boolean</div></div>
    <div class="doc-row remarks"><div>Remarks:</div><div>ezQuake and the screen gets garbaged. When enabled, the client will reset your Windows video mode <br />every time you press alt-tab. Note that some NVidia drivers lock up your system completely <br />when you alt-tab. vid_resetonswitch will not help in this case (try starting ezQuake with -dibonly).</div></div>
  </div>
<table class="doc-examples table">
<thead><tr><th>Value</th><th>Description</th></tr></thead>
<tbody>
<tr>
<td>false</td><td>Disable.</td></tr>
<tr>
<td>true</td><td>Enable (This is a workaround for the bug in some NVidia drivers, when you alt-tab out of</td></tr>
</tbody>
</table>
</div>
